Repository plugwise/python-plugwise: changes, and which pre-commit hooks are due for each by the changed paths.
All: userdata, mypy

userdata:
  name: userdata
  entry: scripts/pre-commit.sh
  language: script
  pass_filenames: false

mypy:
  name: mypy
  entry: scripts/run-in-env.sh mypy
  language: script
  require_serial: true

Bump to a3
  plugwise/__init__.py
Due: userdata, mypy

Add set_max_boiler_temperature()
  plugwise/smile.py
Due: userdata, mypy

Improve added function
  plugwise/smile.py
Due: userdata, mypy

Start adding related testcase
  tests/test_smile.py
Due: userdata

Improve, remove unneeded
  plugwise/smile.py
Due: userdata, mypy

Add tinker_max_boiler_temp testcase
  tests/test_smile.py
Due: userdata

Bump to a4
  plugwise/__init__.py
Due: userdata, mypy

Update CHANGELOG
  CHANGELOG.md
Due: none

Bump to v0.17.0 release version
  plugwise/__init__.py
Due: userdata, mypy

Default to python 3.10
  .github/workflows/verify.yml
  scripts/python-venv.sh
Due: none

Bump cache version
  .github/workflows/verify.yml
Due: none

Debug pre-commit
  .github/workflows/verify.yml
Due: none

Re-add matrix for 3.9 and 3.10
  .github/workflows/verify.yml
Due: none

Switch to matrix version
  .github/workflows/verify.yml
Due: none

Revert to matrix with 3.9
  .github/workflows/verify.yml
Due: none

Rework matrix
  .github/workflows/verify.yml
Due: none

Legacy Anna: fix detection of opentherm/onoff device
  plugwise/helper.py
Due: userdata, mypy

fixup: legacy_anna_heater_fix Python code reformatted using Black
  plugwise/helper.py
Due: userdata, mypy

Bump to v0.17.1a0 test-version
  plugwise/__init__.py
Due: userdata, mypy

Bump to v0.17.1 release-version
  plugwise/__init__.py
Due: userdata, mypy

Update set_schedule_state()
  plugwise/smile.py
Due: userdata, mypy

Bump to v0.17.2a0 test-version
  plugwise/__init__.py
Due: userdata, mypy

Add space to match what's on the Smile
  plugwise/smile.py
Due: userdata, mypy

Don't show invalid schedules as available and last_used
  plugwise/helper.py
Due: userdata, mypy

Update related test asserts
  tests/test_smile.py
Due: userdata

Remove unneeded testcase
  tests/test_smile.py
Due: userdata

Clean up unused userdata directories
  userdata/adam_plus_anna_new_copy_cooling/core.appliances.xml
  userdata/adam_plus_anna_new_copy_cooling/core.domain_objects.xml
  userdata/adam_plus_anna_new_copy_cooling/core.locations.xml
  userdata/adam_plus_anna_new_copy_cooling/core.modules.xml
  userdata/adam_plus_anna_new_copy_dhw_and_cooling/core.appliances.xml
  userdata/adam_plus_anna_new_copy_dhw_and_cooling/core.domain_objects.xml
  userdata/adam_plus_anna_new_copy_dhw_and_cooling/core.locations.xml
  userdata/adam_plus_anna_new_copy_dhw_and_cooling/core.modules.xml
  userdata/adam_plus_anna_new_copy_dhw_and_heating/core.appliances.xml
  userdata/adam_plus_anna_new_copy_dhw_and_heating/core.domain_objects.xml
  userdata/adam_plus_anna_new_copy_dhw_and_heating/core.locations.xml
  userdata/adam_plus_anna_new_copy_dhw_and_heating/core.modules.xml
Due: none

Adam: store last_active when turning a schedule off
  plugwise/smile.py
Due: userdata, mypy

Test_smile: replace schema by schedule
  tests/test_smile.py
Due: userdata

Change back Dutch schedule names
  tests/test_smile.py
Due: userdata

Add state-input to tinker_thermostat_schedule()
  tests/test_smile.py
Due: userdata

Tinker schedule on -> off -> on
  tests/test_smile.py
Due: userdata

Add tinker_thermostat testcase for Adam
  tests/test_smile.py
Due: userdata

Bump to a1
  plugwise/__init__.py
Due: userdata, mypy

Remove debug logging
  plugwise/helper.py
Due: userdata, mypy

Optimize code
  plugwise/smile.py
Due: userdata, mypy

Don't tinker_schedule when no schedule selected
  tests/test_smile.py
Due: userdata

Path conditions:
  userdata: any of: \.py$
  mypy: any of: ^plugwise/.+\.py$ and \.py$
