Repository plugwise/python-plugwise: changes, and which pre-commit hooks are due for each by the changed paths.
All: userdata, mypy

.pre-commit-config.yaml:

repos:
  # Run manually in CI skipping the branch checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: check-executables-have-shebangs
        stages: [manual]
      - id: no-commit-to-branch
        args:
          - --branch=main
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.30.0
    hooks:
      - id: pyupgrade
        args: [--py37-plus]
  - repo: https://github.com/psf/black
    rev: 21.12b0
    hooks:
      - id: black
        args:
          - --safe
          - --quiet
        files: ^((plugwise|tests)/.+)?[^/]+\.py$
  - repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=hass,alot,datas,dof,dur,farenheit,hist,iff,ines,ist,lightsensor,mut,nd,pres,referer,ser,serie,te,technik,ue,uint,visability,wan,wanna,withing,iam,incomfort
          - --skip="./.*,*.csv,*.json"
          - --quiet-level=2
        exclude_types: [csv, json]
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.2
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-docstrings==1.5.0
          - pydocstyle==5.1.1
        files: ^(plugwise|tests)/.+\.py$
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.1
    hooks:
      - id: bandit
        args:
          - --quiet
          - --format=custom
          - --configfile=tests/bandit.yaml
        files: ^(plugwise|tests)/.+\.py$
  - repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
      - id: isort
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.26.3
    hooks:
      - id: yamllint
  - repo: https://github.com/prettier/prettier
    rev: 2.5.1
    hooks:
      - id: prettier
        stages: [manual]
  - repo: local
    hooks:
      # Run mypy through our wrapper script in order to get the possible
      # pyenv and/or virtualenv activated; it may not have been e.g. if
      # committing from a GUI tool that was not launched from an activated
      # shell.
      - id: userdata
        name: userdata
        entry: scripts/pre-commit.sh
        language: script
        types: [python]
        pass_filenames: false
      - id: mypy
        name: mypy
        entry: scripts/run-in-env.sh mypy
        language: script
        types: [python]
        require_serial: true
        files: ^plugwise/.+\.py$

Changelog
  CHANGELOG.md
Due: none

Cleanup, still not working test
  tests/test_smile.py
  userdata/anna_without_boiler_fw42/core.domain_objects.xml
Due: userdata

Rework schema handling with newer firmware (and prevent edge-case)
  plugwise/exceptions.py
  plugwise/helper.py
  tests/test_smile.py
Due: userdata, mypy

Rebased
  tests/test_smile.py
Due: userdata

Add missing raise
  plugwise/helper.py
Due: userdata, mypy

Fix single preset schema, leave out non-schemas
  plugwise/helper.py
  tests/test_smile.py
Due: userdata, mypy

Just warn, dont Bark
  plugwise/exceptions.py
  plugwise/helper.py
Due: userdata, mypy

Return when the schedule is empty
  plugwise/helper.py
Due: userdata, mypy

Schedule_temp is None means no valid schedule found
  plugwise/helper.py
Due: userdata, mypy

Adapt related test assert
  tests/test_smile.py
Due: userdata

Translate status for legacy_anna
  plugwise/smile.py
Due: userdata, mypy

Add last_active schedule info as output to _schemas()
  plugwise/helper.py
  plugwise/smile.py
Due: userdata, mypy

Bump to a14
  plugwise/__init__.py
Due: userdata, mypy

Add testcases to cover missed issue
  tests/test_smile.py
Due: userdata

Logging
  plugwise/helper.py
Due: userdata, mypy

Guard for empty schedule
  plugwise/helper.py
Due: userdata, mypy

More guarding
  plugwise/helper.py
Due: userdata, mypy

Clear available and selected
  plugwise/helper.py
Due: userdata, mypy

Clear logging
  plugwise/helper.py
Due: userdata, mypy

Test: also cover schedule_temperature = None
  tests/test_smile.py
Due: userdata

Improvements
  plugwise/helper.py
Due: userdata, mypy

Remove no longer needed check, move message
  plugwise/helper.py
Due: userdata, mypy

Don't output empty available
  plugwise/helper.py
Due: userdata, mypy

Also clear last_active
  plugwise/helper.py
Due: userdata, mypy

Optimize
  plugwise/helper.py
Due: userdata, mypy

Remove HOI-logging
  tests/test_smile.py
Due: userdata

Fully update legacy_anna asserts
  tests/test_smile.py
Due: userdata

Move full updates
  tests/test_smile.py
Due: userdata

Correct assert
  tests/test_smile.py
Due: userdata

Fix schedule_temp None-assert
  tests/test_smile.py
Due: userdata

One more fix
  tests/test_smile.py
Due: userdata

Rea-dd guarding for selected
  plugwise/helper.py
Due: userdata, mypy

Add more full updates
  tests/test_smile.py
Due: userdata

More full updates
  tests/test_smile.py
Due: userdata

Clean up comments
  tests/test_smile.py
Due: userdata

Bump to a15
  plugwise/__init__.py
Due: userdata, mypy

Remove unused node state
  plugwise/controller.py
  plugwise/stick.py
Due: userdata, mypy

Fix test assert
  tests/test_smile.py
Due: userdata
