Repository plugwise/python-plugwise: changes, and which pre-commit hooks are due for each by the changed paths.
All: userdata, mypy

.pre-commit-config.yaml:

repos:
  # Run manually in CI skipping the branch checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: check-executables-have-shebangs
        stages: [manual]
      - id: no-commit-to-branch
        args:
          - --branch=main
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.30.0
    hooks:
      - id: pyupgrade
        args: [--py37-plus]
  - repo: https://github.com/psf/black
    rev: 21.12b0
    hooks:
      - id: black
        args:
          - --safe
          - --quiet
        files: ^((plugwise|tests)/.+)?[^/]+\.py$
  - repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=hass,alot,datas,dof,dur,farenheit,hist,iff,ines,ist,lightsensor,mut,nd,pres,referer,ser,serie,te,technik,ue,uint,visability,wan,wanna,withing,iam,incomfort
          - --skip="./.*,*.csv,*.json"
          - --quiet-level=2
        exclude_types: [csv, json]
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.2
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-docstrings==1.5.0
          - pydocstyle==5.1.1
        files: ^(plugwise|tests)/.+\.py$
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.1
    hooks:
      - id: bandit
        args:
          - --quiet
          - --format=custom
          - --configfile=tests/bandit.yaml
        files: ^(plugwise|tests)/.+\.py$
  - repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
      - id: isort
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.26.3
    hooks:
      - id: yamllint
  - repo: https://github.com/prettier/prettier
    rev: 2.5.1
    hooks:
      - id: prettier
        stages: [manual]
  - repo: local
    hooks:
      # Run mypy through our wrapper script in order to get the possible
      # pyenv and/or virtualenv activated; it may not have been e.g. if
      # committing from a GUI tool that was not launched from an activated
      # shell.
      - id: userdata
        name: userdata
        entry: scripts/pre-commit.sh
        language: script
        types: [python]
        pass_filenames: false
      - id: mypy
        name: mypy
        entry: scripts/run-in-env.sh mypy
        language: script
        types: [python]
        require_serial: true
        files: ^plugwise/.+\.py$

Change adam_plus_anna_new_copy_dhw_and_cooling
  userdata/adam_plus_anna_new_copy_dhw_and_cooling/core.domain_objects.xml
  userdata/adam_plus_anna_new_copy_dhw_and_cooling/core.modules.xml
Due: none

Change adam_plus_anna_new_copy_dhw_and_heating
  userdata/adam_plus_anna_new_copy_dhw_and_heating/core.domain_objects.xml
  userdata/adam_plus_anna_new_copy_dhw_and_heating/core.modules.xml
Due: none

Change adam_zone_per_device
  userdata/adam_zone_per_device/core.domain_objects.xml
  userdata/adam_zone_per_device/core.modules.xml
Due: none

Change anna_heatpump and anna_heatpump_cooling
  userdata/anna_heatpump/.!16795!core.domain_objects.xml
  userdata/anna_heatpump/core.domain_objects.xml
  userdata/anna_heatpump_cooling/.!16852!core.domain_objects.xml
  userdata/anna_heatpump_cooling/core.domain_objects.xml
Due: none

Change anna_v4
  userdata/anna_v4/.!16969!core.domain_objects.xml
  userdata/anna_v4/core.domain_objects.xml
Due: none

Change anna_v4_no_tag
  userdata/anna_v4_no_tag/.!17051!core.domain_objects.xml
  userdata/anna_v4_no_tag/core.domain_objects.xml
Due: none

Change anna_without_boiler_fw3
  userdata/anna_without_boiler_fw3/.!17147!core.domain_objects.xml
  userdata/anna_without_boiler_fw3/core.domain_objects.xml
Due: none

Change anna_without_boiler_fw4
  userdata/anna_without_boiler_fw4/.!17284!core.domain_objects.xml
  userdata/anna_without_boiler_fw4/core.domain_objects.xml
Due: none

Change anna_without_boiler_fw42
  userdata/anna_without_boiler_fw42/.!17388!core.domain_objects.xml
  userdata/anna_without_boiler_fw42/core.domain_objects.xml
Due: none

Change fail_firmware
  userdata/fail_firmware/.!17497!core.domain_objects.xml
  userdata/fail_firmware/core.domain_objects.xml
Due: none

Change p1v3
  userdata/faulty_stretch/.!17602!core.domain_objects.xml
  userdata/p1v3/.!17984!core.domain_objects.xml
  userdata/p1v3/core.domain_objects.xml
Due: none

Change p1v3_full_option
  userdata/p1v3_full_option/.!18063!core.domain_objects.xml
  userdata/p1v3_full_option/core.domain_objects.xml
Due: none

Change p1v3solarfake
  userdata/p1v3solarfake/.!18154!core.domain_objects.xml
  userdata/p1v3solarfake/core.domain_objects.xml
Due: none

Change p1v4
  userdata/p1v4/.!18232!core.domain_objects.xml
  userdata/p1v4/core.domain_objects.xml
Due: none

Remove mac obfuscation - Change p1 legacy
  scripts/pre-commit.sh
  userdata/README.md
  userdata/smile_p1_v2/system_status_xml.xml
  userdata/smile_p1_v2_2/system_status_xml.xml
Due: none

Change faulty_stretch
  userdata/faulty_stretch/.!29037!core.domain_objects.xml
  userdata/faulty_stretch/core.domain_objects.xml
  userdata/faulty_stretch/core.modules.xml
  userdata/renumber.sh
Due: none

Reformat stretch_v23
  userdata/stretch_v23/.!29189!core.domain_objects.xml
  userdata/stretch_v23/core.domain_objects.xml
  userdata/stretch_v23/core.modules.xml
Due: none

Change stretch_v23
  userdata/stretch_v23/.!29367!core.domain_objects.xml
  userdata/stretch_v23/core.domain_objects.xml
  userdata/stretch_v23/core.modules.xml
Due: none

Change stretch_v27_no_domain
  userdata/stretch_v27_no_domain/core.modules.xml
Due: none

Change stretch_v31
  userdata/stretch_v31/.!29619!core.domain_objects.xml
  userdata/stretch_v31/core.domain_objects.xml
  userdata/stretch_v31/core.modules.xml
Due: none

Draft PR progress
  TODO.md
Due: none

Change naming to appropriate target
  plugwise/helper.py
  plugwise/smile.py
Due: userdata, mypy

Add appliance settings and initial tests
  TODO.md
  plugwise/constants.py
  plugwise/helper.py
  tests/test_smile.py
Due: userdata, mypy

Rework appl classing, adding original hardware version
  plugwise/helper.py
Due: userdata, mypy

Remove unused redundant setpoint
  plugwise/constants.py
Due: userdata, mypy

Add prelim tests and update todo
  TODO.md
  tests/test_smile.py
Due: userdata

Discover plug mac-addresses
  plugwise/helper.py
Due: userdata, mypy

Move firmware update to issue instead of in this PR
  TODO.md
Due: none

Add hw version
  TODO.md
  plugwise/helper.py
  plugwise/smile.py
  tests/test_smile.py
Due: userdata, mypy

Handle gateway mac addresses
  plugwise/helper.py
  plugwise/smile.py
Due: userdata, mypy

Bump version, remove todo, add changes to changelog
  CHANGELOG.md
  TODO.md
  plugwise/__init__.py
Due: userdata, mypy

Fix TODO thanks to Bouwe
  plugwise/helper.py
Due: userdata, mypy

Removed dicts as requested
  plugwise/constants.py
  plugwise/helper.py
  plugwise/smile.py
  tests/test_smile.py
Due: userdata, mypy

Rework mac-addresses
  plugwise/constants.py
  plugwise/helper.py
  plugwise/smile.py
  tests/test_smile.py
Due: userdata, mypy

Check for breaking on actions
  plugwise/helper.py
Due: userdata, mypy

Revert - find not working
  plugwise/helper.py
Due: userdata, mypy

Version bump
  plugwise/__init__.py
Due: userdata, mypy

Bouwe ftw
  plugwise/helper.py
Due: userdata, mypy

Update plugwise/helper.py
  plugwise/helper.py
Due: userdata, mypy
