Repository plugwise/python-plugwise: changes, and which pre-commit hooks are due for each by the changed paths.
All: userdata, mypy

userdata:
  name: userdata
  entry: scripts/pre-commit.sh
  language: script
  pass_filenames: false

mypy:
  name: mypy
  entry: scripts/run-in-env.sh mypy
  language: script
  require_serial: true

Revert "Unprotect vars to fix pylint error"
  CHANGELOG.md
  plugwise/__init__.py
  plugwise/helper.py
  plugwise/smile.py
  tests/test_smile.py
Due: userdata, mypy

Bump CACHE_VERSION
  .github/workflows/verify.yml
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Filter out thermostat-devices without a location
  plugwise/smile.py
Due: userdata, mypy

Add comments
  plugwise/smile.py
Due: userdata, mypy

Bump version to v0.15.4-alpha0
  plugwise/__init__.py
Due: userdata, mypy

Test: add extra logging
  tests/test_smile.py
Due: userdata

Allow location: None for legacy_anna
  plugwise/smile.py
Due: userdata, mypy

Move location testcase to Central
  tests/test_smile.py
Due: userdata

Bump alpha-version
  plugwise/__init__.py
Due: userdata, mypy

Correct when adding device_state
  plugwise/smile.py
Due: userdata, mypy

Bump alpha version
  plugwise/__init__.py
Due: userdata, mypy

Change fake_loc_id to a string
  plugwise/helper.py
Due: userdata, mypy

Test: implement location-change
  tests/test_smile.py
Due: userdata

Provide a location to legacy_anna, rearrange code
  plugwise/helper.py
Due: userdata, mypy

Rearrange and update switch-group data
  plugwise/helper.py
Due: userdata, mypy

Remove filtering for legacy_anna, now has a valid location
  plugwise/smile.py
Due: userdata, mypy

Tests: add tests for device_state
  tests/test_smile.py
Due: userdata

Update CHANGELOG
  CHANGELOG.md
Due: none

Add FAKE_LOC to constants and use
  plugwise/constants.py
  plugwise/helper.py
Due: userdata, mypy

Tests: use FAKE_LOC constant
  tests/test_smile.py
Due: userdata

Use Switchgroup instead of Group Switch
  plugwise/helper.py
Due: userdata, mypy

Bump to release version v0.15.4
  plugwise/__init__.py
Due: userdata, mypy

Add py3.10 testing and bump aiohttp to 3.8.1 (in line with HA-Core)
  .github/workflows/verify.yml
  CHANGELOG.md
  requirements_test.txt
  setup.py
Due: userdata

Remove package constraint
  package_constraints.txt
Due: none

BUMP cache
  .github/workflows/verify.yml
Due: none

Bump prettier
  .pre-commit-config.yaml
Due: none

Force 3.10 not 3.1
  .github/workflows/verify.yml
Due: none

Remove fixed version
  setup.py
Due: userdata

Remove fixed version, lower cache
  .github/workflows/verify.yml
  CHANGELOG.md
Due: none

Bump caches, add setuptools to be sure
  .github/workflows/merge.yml
  .github/workflows/verify.yml
  requirements_commit.txt
Due: none

Pre-commit updates
  .pre-commit-config.yaml
Due: none

Rework dependencies
  .github/workflows/merge.yml
  .github/workflows/verify.yml
  requirements_test.txt
  scripts/setup_test.sh
Due: none

Try pre-commit #1526
  .pre-commit-config.yaml
  requirements_commit.txt
  requirements_test.txt
Due: none

Revert
  .pre-commit-config.yaml
Due: none

Add wheel to be consistent
  .github/workflows/verify.yml
Due: none

Single-step cache
  .github/workflows/verify.yml
Due: none

Retry
  .github/workflows/verify.yml
Due: none

Path conditions:
  userdata: any of: \.py$
  mypy: any of: ^plugwise/.+\.py$ and \.py$
