Repository plugwise/python-plugwise: changes, and which pre-commit hooks are due for each by the changed paths.
All: userdata, mypy

.pre-commit-config.yaml:

repos:
  # Run manually in CI skipping the branch checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: check-executables-have-shebangs
        stages: [manual]
      - id: no-commit-to-branch
        args:
          - --branch=main
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.30.0
    hooks:
      - id: pyupgrade
        args: [--py37-plus]
  - repo: https://github.com/psf/black
    rev: 21.12b0
    hooks:
      - id: black
        args:
          - --safe
          - --quiet
        files: ^((plugwise|tests)/.+)?[^/]+\.py$
  - repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=hass,alot,datas,dof,dur,farenheit,hist,iff,ines,ist,lightsensor,mut,nd,pres,referer,ser,serie,te,technik,ue,uint,visability,wan,wanna,withing,iam,incomfort
          - --skip="./.*,*.csv,*.json"
          - --quiet-level=2
        exclude_types: [csv, json]
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.2
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-docstrings==1.5.0
          - pydocstyle==5.1.1
        files: ^(plugwise|tests)/.+\.py$
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.1
    hooks:
      - id: bandit
        args:
          - --quiet
          - --format=custom
          - --configfile=tests/bandit.yaml
        files: ^(plugwise|tests)/.+\.py$
  - repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
      - id: isort
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.26.3
    hooks:
      - id: yamllint
  - repo: https://github.com/prettier/prettier
    rev: 2.5.1
    hooks:
      - id: prettier
        stages: [manual]
  - repo: local
    hooks:
      # Run mypy through our wrapper script in order to get the possible
      # pyenv and/or virtualenv activated; it may not have been e.g. if
      # committing from a GUI tool that was not launched from an activated
      # shell.
      - id: userdata
        name: userdata
        entry: scripts/pre-commit.sh
        language: script
        types: [python]
        pass_filenames: false
      - id: mypy
        name: mypy
        entry: scripts/run-in-env.sh mypy
        language: script
        types: [python]
        require_serial: true
        files: ^plugwise/.+\.py$

Fix thermostat ActuatorDataHeatCool typing
  plugwise/smile.py
Due: userdata, mypy

Bump to a6
  plugwise/__init__.py
Due: userdata, mypy

Improve guarding
  plugwise/helper.py
Due: userdata, mypy

Improve comment, debug
  plugwise/helper.py
Due: userdata, mypy

More debug
  plugwise/helper.py
Due: userdata, mypy

Improve
  plugwise/helper.py
Due: userdata, mypy

Entry is a set(), just check for "preset" in entry
  plugwise/helper.py
Due: userdata, mypy

Debug
  plugwise/helper.py
Due: userdata, mypy

Debug further
  plugwise/helper.py
Due: userdata, mypy

Remove debugging
  plugwise/helper.py
Due: userdata, mypy

Improving handling of single setpoint in presets
  plugwise/helper.py
Due: userdata, mypy

Change xml-key for testing
  userdata/adam_heatpump_cooling/core.domain_objects.xml
Due: none

Improve handling of custom-setpoint in schedule
  plugwise/helper.py
Due: userdata, mypy

Define defaults and implement
  plugwise/constants.py
  plugwise/helper.py
Due: userdata, mypy

Add missing logic
  plugwise/helper.py
Due: userdata, mypy

Bump to v0.25.6a0 test-version
  plugwise/__init__.py
Due: userdata, mypy

Change xml-key to increase test-coverage
  userdata/anna_elga_2/core.domain_objects.xml
Due: none

Switch defaults
  plugwise/helper.py
Due: userdata, mypy

Debug
  plugwise/smile.py
Due: userdata, mypy

Revert "Change xml-key to increase test-coverage"
  userdata/anna_elga_2/core.domain_objects.xml
Due: none

Change different xml-key
  userdata/anna_elga_2/core.domain_objects.xml
Due: none

Remove debugging
  plugwise/smile.py
Due: userdata, mypy

Add # pragma: no cover
  plugwise/helper.py
Due: userdata, mypy

Don't add the py.typed file yet
  py.typed
Due: none

Bump to a1
  plugwise/__init__.py
Due: userdata, mypy

Clean setup.py as well
  setup.py
Due: userdata

Bump to a2
  plugwise/__init__.py
Due: userdata, mypy

Update CHANGELOG
  CHANGELOG.md
Due: none

Bump to v0.25.6 release-version
  plugwise/__init__.py
Due: userdata, mypy

Correct wrong updates
  plugwise/helper.py
Due: userdata, mypy

Bump to v0.25.7
  plugwise/__init__.py
Due: userdata, mypy

Update Changelog
  CHANGELOG.md
Due: none

Fix name
  plugwise/constants.py
Due: userdata, mypy

Add 3rd option for determining _cooling_enabled
  plugwise/helper.py
Due: userdata, mypy

Fix cooling_enabled constant
  plugwise/constants.py
Due: userdata, mypy

Fix logging
  plugwise/helper.py
Due: userdata, mypy

Try 3
  plugwise/helper.py
Due: userdata, mypy

Try 2
  plugwise/helper.py
Due: userdata, mypy
