Repository plugwise/python-plugwise: changes, and which pre-commit hooks are due for each by the changed paths.
All: userdata, mypy

userdata:
  name: userdata
  entry: scripts/pre-commit.sh
  language: script
  pass_filenames: false

mypy:
  name: mypy
  entry: scripts/run-in-env.sh mypy
  language: script
  require_serial: true

Add # pragma: no cover
  plugwise/helper.py
Due: userdata, mypy

Update Changelog
  CHANGELOG.md
Due: none

Update anna_elga_2_cooling test
  tests/test_smile.py
Due: userdata

Bump to a3
  plugwise/__init__.py
Due: userdata, mypy

Add related testcase
  tests/test_smile.py
Due: userdata

Add self._elga
  plugwise/helper.py
  plugwise/smile.py
Due: userdata, mypy

Remove import
  plugwise/smile.py
Due: userdata, mypy

Remove modified_date collection
  plugwise/helper.py
  plugwise/smile.py
Due: userdata, mypy

Correct
  plugwise/helper.py
Due: userdata, mypy

Add guarding
  plugwise/helper.py
Due: userdata, mypy

Update anna_heatpump_heating test
  tests/test_smile.py
Due: userdata

Clean up testcase
  tests/test_smile.py
Due: userdata

More debug
  plugwise/helper.py
Due: userdata, mypy

Replace 2 if-else
  plugwise/helper.py
Due: userdata, mypy

Don't call power_data_from_location() in guard
  plugwise/smile.py
Due: userdata, mypy

Remove raising InvalidSetupError for Adam + Anna
  plugwise/smile.py
Due: userdata, mypy

Remove test_fail_anna_connected_to_adam()
  tests/test_smile.py
Due: userdata

Correct order
  plugwise/smile.py
Due: userdata, mypy

Revert "Add #pragma: no cover"
  plugwise/helper.py
Due: userdata, mypy

Revert "Fix typing"
  plugwise/helper.py
Due: userdata, mypy

Revert "Change to warning-level, add suggestion"
  plugwise/helper.py
Due: userdata, mypy

Revert "Smile.py: import _find and _findall and implement"
  plugwise/smile.py
Due: userdata, mypy

Revert "Helper.py: replace all find() and findall()"
  plugwise/helper.py
Due: userdata, mypy

Revert "Improve logger message."
  plugwise/helper.py
Due: userdata, mypy

Revert "Add _findall() function"
  plugwise/helper.py
Due: userdata, mypy

Revert "Add test-logger message"
  tests/test_smile.py
Due: userdata

Revert "Improve output"
  plugwise/helper.py
Due: userdata, mypy

Revert "Simplify"
  plugwise/helper.py
Due: userdata, mypy

Revert "Change logging"
  tests/test_smile.py
Due: userdata

Revert "Correct typing"
  plugwise/helper.py
Due: userdata, mypy

Revert "Clean up testcase"
  tests/test_smile.py
Due: userdata

Revert "Implement one more _find()"
  plugwise/helper.py
Due: userdata, mypy

Revert "Remove more"
  userdata/p1v4_missing_logs/core.locations.xml
Due: none

Revert "Add related testcase"
  tests/test_smile.py
Due: userdata

Revert "Add special userdata"
  userdata/p1v4_missing_logs/core.appliances.xml
  userdata/p1v4_missing_logs/core.direct_objects.xml
  userdata/p1v4_missing_logs/core.domain_objects.xml
  userdata/p1v4_missing_logs/core.locations.xml
  userdata/p1v4_missing_logs/core.modules.xml
Due: none

Revert "Implement in power_data_from_location() and related"
  plugwise/helper.py
Due: userdata, mypy

Revert "Create special _find() function"
  plugwise/helper.py
Due: userdata, mypy

Revert back to _full_update_device() from v0.21.4
  plugwise/smile.py
Due: userdata, mypy

Path conditions:
  userdata: any of: \.py$
  mypy: any of: ^plugwise/.+\.py$ and \.py$
