Repository plugwise/python-plugwise: changes, and which pre-commit hooks are due for each by the changed paths.
All: userdata, mypy

.pre-commit-config.yaml:

repos:
  # Run manually in CI skipping the branch checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: check-executables-have-shebangs
        stages: [manual]
      - id: no-commit-to-branch
        args:
          - --branch=main
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.30.0
    hooks:
      - id: pyupgrade
        args: [--py37-plus]
  - repo: https://github.com/psf/black
    rev: 21.12b0
    hooks:
      - id: black
        args:
          - --safe
          - --quiet
        files: ^((plugwise|tests)/.+)?[^/]+\.py$
  - repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=hass,alot,datas,dof,dur,farenheit,hist,iff,ines,ist,lightsensor,mut,nd,pres,referer,ser,serie,te,technik,ue,uint,visability,wan,wanna,withing,iam,incomfort
          - --skip="./.*,*.csv,*.json"
          - --quiet-level=2
        exclude_types: [csv, json]
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.2
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-docstrings==1.5.0
          - pydocstyle==5.1.1
        files: ^(plugwise|tests)/.+\.py$
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.1
    hooks:
      - id: bandit
        args:
          - --quiet
          - --format=custom
          - --configfile=tests/bandit.yaml
        files: ^(plugwise|tests)/.+\.py$
  - repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
      - id: isort
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.26.3
    hooks:
      - id: yamllint
  - repo: https://github.com/prettier/prettier
    rev: 2.5.1
    hooks:
      - id: prettier
        stages: [manual]
  - repo: local
    hooks:
      # Run mypy through our wrapper script in order to get the possible
      # pyenv and/or virtualenv activated; it may not have been e.g. if
      # committing from a GUI tool that was not launched from an activated
      # shell.
      - id: userdata
        name: userdata
        entry: scripts/pre-commit.sh
        language: script
        types: [python]
        pass_filenames: false
      - id: mypy
        name: mypy
        entry: scripts/run-in-env.sh mypy
        language: script
        types: [python]
        require_serial: true
        files: ^plugwise/.+\.py$

Update Changelog
  CHANGELOG.md
Due: none

Fix spelling
  plugwise/smile.py
Due: userdata, mypy

Fix typing
  plugwise/smile.py
Due: userdata, mypy

Add test for last_used = None
  tests/test_smile.py
Due: userdata

Adapt switch_thermostat_schedule() for new testcase
  tests/test_smile.py
Due: userdata

Update testcase pre-condition
  tests/test_smile.py
Due: userdata

Improve guarding
  tests/test_smile.py
Due: userdata

Let tinker-functions return result
  tests/test_smile.py
Due: userdata

Implement result asserts
  tests/test_smile.py
Due: userdata

Correct negative asserts
  tests/test_smile.py
Due: userdata

Correct remaining asserts
  tests/test_smile.py
Due: userdata

Fix CodeFactor error
  tests/test_smile.py
Due: userdata

Add no cover
  tests/test_smile.py
Due: userdata

Bump to v0.18.3 release-version
  plugwise/__init__.py
Due: userdata, mypy

Correct Changelog
  CHANGELOG.md
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Correct issue-nr
  CHANGELOG.md
Due: none

Update in_between() function
  plugwise/util.py
Due: userdata, mypy

Various schedule-related updates
  plugwise/helper.py
Due: userdata, mypy

Update test-asserts
  tests/test_smile.py
Due: userdata

Remove unused return
  plugwise/helper.py
Due: userdata, mypy

Bump to v0.18.4a0 test-version
  plugwise/__init__.py
Due: userdata, mypy

Solve mypy-errors
  plugwise/helper.py
  plugwise/smile.py
Due: userdata, mypy

Bump to a1
  plugwise/__init__.py
Due: userdata, mypy

Fix errors in userdata file
  userdata/anna_v4_no_tag/core.domain_objects.xml
Due: none

Remove location id's, this turns the schedules off
  userdata/anna_v4_no_tag/core.domain_objects.xml
Due: none

Improve _last_used(), simplify
  plugwise/helper.py
Due: userdata, mypy

anna_v4_no_tag: turn on schedule for testcoverage
  userdata/anna_v4_no_tag/core.domain_objects.xml
Due: none

Debug
  plugwise/helper.py
Due: userdata, mypy

Better modulo fix
  plugwise/helper.py
Due: userdata, mypy

More fixing
  plugwise/helper.py
Due: userdata, mypy

Clean up
  plugwise/helper.py
Due: userdata, mypy

Bump to a2
  plugwise/__init__.py
Due: userdata, mypy

Add pragma: no cover
  plugwise/helper.py
Due: userdata, mypy

Improve schedule_temp testing using freezegun
  tests/test_smile.py
Due: userdata

Move to constants and import, change arbitrary date
  plugwise/constants.py
  plugwise/util.py
Due: userdata, mypy

Change freezetime date
  tests/test_smile.py
Due: userdata

Remove unused import
  tests/test_smile.py
Due: userdata

Revert loc_id removal from _presets()
  plugwise/helper.py
  plugwise/smile.py
Due: userdata, mypy

Remove schedule_temp/setpoint from output
  plugwise/helper.py
  plugwise/smile.py
Due: userdata, mypy
