Repository plugwise/python-plugwise: changes, and which pre-commit hooks are due for each by the changed paths.
All: userdata, mypy

.pre-commit-config.yaml:

repos:
  # Run manually in CI skipping the branch checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: check-executables-have-shebangs
        stages: [manual]
      - id: no-commit-to-branch
        args:
          - --branch=main
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.30.0
    hooks:
      - id: pyupgrade
        args: [--py37-plus]
  - repo: https://github.com/psf/black
    rev: 21.12b0
    hooks:
      - id: black
        args:
          - --safe
          - --quiet
        files: ^((plugwise|tests)/.+)?[^/]+\.py$
  - repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=hass,alot,datas,dof,dur,farenheit,hist,iff,ines,ist,lightsensor,mut,nd,pres,referer,ser,serie,te,technik,ue,uint,visability,wan,wanna,withing,iam,incomfort
          - --skip="./.*,*.csv,*.json"
          - --quiet-level=2
        exclude_types: [csv, json]
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.2
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-docstrings==1.5.0
          - pydocstyle==5.1.1
        files: ^(plugwise|tests)/.+\.py$
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.1
    hooks:
      - id: bandit
        args:
          - --quiet
          - --format=custom
          - --configfile=tests/bandit.yaml
        files: ^(plugwise|tests)/.+\.py$
  - repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
      - id: isort
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.26.3
    hooks:
      - id: yamllint
  - repo: https://github.com/prettier/prettier
    rev: 2.5.1
    hooks:
      - id: prettier
        stages: [manual]
  - repo: local
    hooks:
      # Run mypy through our wrapper script in order to get the possible
      # pyenv and/or virtualenv activated; it may not have been e.g. if
      # committing from a GUI tool that was not launched from an activated
      # shell.
      - id: userdata
        name: userdata
        entry: scripts/pre-commit.sh
        language: script
        types: [python]
        pass_filenames: false
      - id: mypy
        name: mypy
        entry: scripts/run-in-env.sh mypy
        language: script
        types: [python]
        require_serial: true
        files: ^plugwise/.+\.py$

Adapt test-asserts, add extra info
  tests/test_smile.py
Due: userdata

Add assert
  tests/test_smile.py
Due: userdata

Add 2nd preset to cover deactivating of cooling
  tests/test_smile.py
Due: userdata

Correct target_temp, add setpoint-assert
  tests/test_smile.py
  userdata/anna_elga_2/core.appliances.xml
Due: userdata

Another target_temp fix, add setpoint-assert
  tests/test_smile.py
  userdata/anna_heatpump_heating/core.appliances.xml
Due: userdata

Correct the proper key
  userdata/anna_elga_2/core.appliances.xml
Due: none

Correct the other proper key
  userdata/anna_heatpump_heating/core.appliances.xml
Due: none

Bump to a5
  plugwise/__init__.py
Due: userdata, mypy

Let send_cooling_on() return True
  plugwise/smile.py
Due: userdata, mypy

Bump to a6
  plugwise/__init__.py
Due: userdata, mypy

Improve debug message
  plugwise/smile.py
Due: userdata, mypy

Improve send_cooling_on()
  plugwise/smile.py
Due: userdata, mypy

Add tinker_send_cooling_on() and use
  tests/test_smile.py
Due: userdata

Add assert for _anna_cooling_enabled_by_user
  tests/test_smile.py
Due: userdata

Bump to a7
  plugwise/__init__.py
Due: userdata, mypy

Fix mypy error
  plugwise/smile.py
Due: userdata, mypy

Revert make anna_cooling_enabled private
  plugwise/helper.py
  plugwise/smile.py
Due: userdata, mypy

Bump to a8
  plugwise/__init__.py
Due: userdata, mypy

Also revert in testing
  tests/test_smile.py
Due: userdata

Add elga_status_code
  plugwise/constants.py
Due: userdata, mypy

Start updating based on Plugwise cooling input.
  plugwise/helper.py
Due: userdata, mypy

Continue implementing updates for Anna + cooling
  plugwise/helper.py
  plugwise/smile.py
Due: userdata, mypy

Update cooling_state for Anna + cooling
  plugwise/smile.py
Due: userdata, mypy

Try 1
  tests/test_smile.py
Due: userdata

Anna_heatpump_heating: change elga_status_code to 9
  userdata/anna_heatpump_heating/core.appliances.xml
  userdata/anna_heatpump_heating/core.domain_objects.xml
Due: none

Fix code
  plugwise/helper.py
Due: userdata, mypy

Try 2
  tests/test_smile.py
Due: userdata

Try 3
  tests/test_smile.py
Due: userdata

Try 4
  tests/test_smile.py
Due: userdata

Fix code
  plugwise/smile.py
Due: userdata, mypy

Try 5
  tests/test_smile.py
Due: userdata

Debug
  plugwise/helper.py
Due: userdata, mypy

Debug 2
  plugwise/helper.py
Due: userdata, mypy

Fix
  plugwise/helper.py
Due: userdata, mypy

Improve guarding
  plugwise/helper.py
Due: userdata, mypy

Update/clean anna_heatpump_cooling_fake_firmware userdata
  userdata/anna_heatpump_cooling_fake_firmware/core.appliances.xml
  userdata/anna_heatpump_cooling_fake_firmware/core.domain_objects.xml
Due: none

Try 6
  tests/test_smile.py
Due: userdata

Move code to the proper place
  plugwise/smile.py
Due: userdata, mypy

Debug
  plugwise/smile.py
Due: userdata, mypy

Move
  plugwise/smile.py
Due: userdata, mypy
