Repository plugwise/python-plugwise: changes, and which pre-commit hooks are due for each by the changed paths.
All: userdata, mypy

.pre-commit-config.yaml:

repos:
  # Run manually in CI skipping the branch checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: check-executables-have-shebangs
        stages: [manual]
      - id: no-commit-to-branch
        args:
          - --branch=main
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.30.0
    hooks:
      - id: pyupgrade
        args: [--py37-plus]
  - repo: https://github.com/psf/black
    rev: 21.12b0
    hooks:
      - id: black
        args:
          - --safe
          - --quiet
        files: ^((plugwise|tests)/.+)?[^/]+\.py$
  - repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=hass,alot,datas,dof,dur,farenheit,hist,iff,ines,ist,lightsensor,mut,nd,pres,referer,ser,serie,te,technik,ue,uint,visability,wan,wanna,withing,iam,incomfort
          - --skip="./.*,*.csv,*.json"
          - --quiet-level=2
        exclude_types: [csv, json]
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.2
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-docstrings==1.5.0
          - pydocstyle==5.1.1
        files: ^(plugwise|tests)/.+\.py$
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.1
    hooks:
      - id: bandit
        args:
          - --quiet
          - --format=custom
          - --configfile=tests/bandit.yaml
        files: ^(plugwise|tests)/.+\.py$
  - repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
      - id: isort
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.26.3
    hooks:
      - id: yamllint
  - repo: https://github.com/prettier/prettier
    rev: 2.5.1
    hooks:
      - id: prettier
        stages: [manual]
  - repo: local
    hooks:
      # Run mypy through our wrapper script in order to get the possible
      # pyenv and/or virtualenv activated; it may not have been e.g. if
      # committing from a GUI tool that was not launched from an activated
      # shell.
      - id: userdata
        name: userdata
        entry: scripts/pre-commit.sh
        language: script
        types: [python]
        pass_filenames: false
      - id: mypy
        name: mypy
        entry: scripts/run-in-env.sh mypy
        language: script
        types: [python]
        require_serial: true
        files: ^plugwise/.+\.py$

Fix remaining errors in test_smile.py
  tests/test_smile.py
Due: userdata

Cleanup and attempt 3.10
  .github/workflows/merge.yml
  .github/workflows/verify.yml
  pyproject.toml
  setup.cfg
  tests/INIT.md
Due: none

Merge into pyproject.toml
  .coveragerc
  plugwise/__init__.py
  pyproject.toml
  pytest.ini
  setup.cfg
  setup.py
Due: userdata, mypy

Work around PEP 660 limitation
  setup.py
Due: userdata

Ensure syntax
  pyproject.toml
Due: none

Bump cache
  .github/workflows/verify.yml
Due: none

Further cleanup
  .pre-commit-config.yaml
  scripts/setup.sh
  scripts/setup_test.sh
Due: none

Version
  plugwise/__init__.py
Due: userdata, mypy

Use proper naming
  plugwise/__init__.py
Due: userdata, mypy

Typo
  CHANGELOG.md
Due: none

Auto-updates
  .pre-commit-config.yaml
Due: none

Docstring
  setup.py
Due: userdata

Bump python version in mypy config
  setup.cfg
Due: none

Merge.yaml: 3.10 as string
  .github/workflows/merge.yml
Due: none

Mypy config: 3.10 as string
  setup.cfg
Due: none

Fix in pyproject.toml
  pyproject.toml
Due: none

Setup.cfg, remove mypy config,
  setup.cfg
Due: none

Debug
  plugwise/helper.py
Due: userdata, mypy

Fix ident
  plugwise/helper.py
Due: userdata, mypy

Anna + cooling changes based on Plugwise input
  plugwise/helper.py
Due: userdata, mypy

Correct mode due to cooling_present
  plugwise/helper.py
Due: userdata, mypy

Correct cooling_enabled to on
  tests/test_smile.py
  userdata/anna_heatpump_cooling/core.appliances.xml
Due: userdata

Improve Loria/Thermastage logic
  plugwise/helper.py
Due: userdata, mypy

Correct relevant test assert
  tests/test_smile.py
Due: userdata

Improve elga_status_code related logic
  plugwise/helper.py
Due: userdata, mypy

Extend use of elga_status_code
  plugwise/helper.py
Due: userdata, mypy

Update relevant test asserts
  tests/test_smile.py
Due: userdata

Add cooling_enabled keys to userdata
  userdata/anna_elga_2/core.appliances.xml
  userdata/anna_elga_2_cooling/core.appliances.xml
  userdata/anna_elga_2_schedule_off/core.appliances.xml
Due: none

Correct cooling_enabled to True
  tests/test_smile.py
Due: userdata

Model, not mode
  plugwise/helper.py
Due: userdata, mypy

Userdata: anna_heatpump_cooling*, add cooling_enabled key
  userdata/anna_heatpump_cooling/core.appliances.xml
  userdata/anna_heatpump_cooling_to_off/core.appliances.xml
Due: none

Simplify finding _cooling_present status
  plugwise/helper.py
  plugwise/smile.py
Due: userdata, mypy

Fix added device-item
  tests/test_smile.py
Due: userdata

Correct modulation_level to 100
  plugwise/helper.py
Due: userdata, mypy

Correct elga-related logic
  plugwise/helper.py
Due: userdata, mypy

Userdata: correct elga_status_code to 3
  userdata/anna_heatpump_heating/core.appliances.xml
Due: none

Bump to v0.27.1a0 test-version
  pyproject.toml
Due: none

Improve comment
  plugwise/helper.py
Due: userdata, mypy

Improve logic, comments
  plugwise/helper.py
Due: userdata, mypy

Update Changelog
  CHANGELOG.md
Due: none
