Repository plugwise/python-plugwise: changes, and which pre-commit hooks are due for each by the changed paths.
All: userdata, mypy

.pre-commit-config.yaml:

repos:
  # Run manually in CI skipping the branch checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: check-executables-have-shebangs
        stages: [manual]
      - id: no-commit-to-branch
        args:
          - --branch=main
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.30.0
    hooks:
      - id: pyupgrade
        args: [--py37-plus]
  - repo: https://github.com/psf/black
    rev: 21.12b0
    hooks:
      - id: black
        args:
          - --safe
          - --quiet
        files: ^((plugwise|tests)/.+)?[^/]+\.py$
  - repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=hass,alot,datas,dof,dur,farenheit,hist,iff,ines,ist,lightsensor,mut,nd,pres,referer,ser,serie,te,technik,ue,uint,visability,wan,wanna,withing,iam,incomfort
          - --skip="./.*,*.csv,*.json"
          - --quiet-level=2
        exclude_types: [csv, json]
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.2
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-docstrings==1.5.0
          - pydocstyle==5.1.1
        files: ^(plugwise|tests)/.+\.py$
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.1
    hooks:
      - id: bandit
        args:
          - --quiet
          - --format=custom
          - --configfile=tests/bandit.yaml
        files: ^(plugwise|tests)/.+\.py$
  - repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
      - id: isort
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.26.3
    hooks:
      - id: yamllint
  - repo: https://github.com/prettier/prettier
    rev: 2.5.1
    hooks:
      - id: prettier
        stages: [manual]
  - repo: local
    hooks:
      # Run mypy through our wrapper script in order to get the possible
      # pyenv and/or virtualenv activated; it may not have been e.g. if
      # committing from a GUI tool that was not launched from an activated
      # shell.
      - id: userdata
        name: userdata
        entry: scripts/pre-commit.sh
        language: script
        types: [python]
        pass_filenames: false
      - id: mypy
        name: mypy
        entry: scripts/run-in-env.sh mypy
        language: script
        types: [python]
        require_serial: true
        files: ^plugwise/.+\.py$

Change list to dict
  plugwise/smile.py
Due: userdata, mypy

Don't use reserved varname
  plugwise/helper.py
Due: userdata, mypy

Correct double use of "state"
  plugwise/helper.py
Due: userdata, mypy

Correct model names
  plugwise/helper.py
Due: userdata, mypy

Add a gateway for legacy Anna too
  plugwise/helper.py
Due: userdata, mypy

Update changelog
  CHANGELOG.md
Due: none

Re-protected
  plugwise/smile.py
Due: userdata, mypy

Adapt device_test()
  tests/test_smile.py
Due: userdata

Correct imports
  plugwise/smile.py
Due: userdata, mypy

Optimize code
  plugwise/helper.py
  plugwise/smile.py
Due: userdata, mypy

More list to dict changes
  plugwise/helper.py
Due: userdata, mypy

Rearrange Changelog
  CHANGELOG.md
Due: none

Tests: adapt test-case formats
  tests/test_smile.py
Due: userdata

Correctly generating output
  plugwise/helper.py
Due: userdata, mypy

Change testcase for schedule_temperature
  tests/test_smile.py
Due: userdata

Smile.py: adapt to the changed constant, change to using dicts
  plugwise/smile.py
Due: userdata, mypy

There should be one appliance
  plugwise/helper.py
Due: userdata, mypy

Correct async_update()
  plugwise/smile.py
Due: userdata, mypy

Create also a gateway for the Stretch
  plugwise/helper.py
Due: userdata, mypy

Don't return for the Stretches too
  plugwise/helper.py
Due: userdata, mypy

Make active_device_present (full) boolean
  plugwise/smile.py
Due: userdata, mypy

Use _gateway_id as appl_id for the Stretches
  plugwise/helper.py
Due: userdata, mypy

_gateway_id has changed to _home_location
  plugwise/helper.py
Due: userdata, mypy

Move cooling-related code to helper.py
  plugwise/helper.py
Due: userdata, mypy

Rearrange code
  plugwise/helper.py
Due: userdata, mypy

Change init
  plugwise/smile.py
Due: userdata, mypy

Correct assert-value
  tests/test_smile.py
Due: userdata

Unprotect gateway_id, used in connect()
  plugwise/helper.py
Due: userdata, mypy

Bump to v0.16.0a5
  plugwise/__init__.py
Due: userdata, mypy

Rename keys in constants.py already
  plugwise/constants.py
  plugwise/helper.py
Due: userdata, mypy

Add userdata for an adam connected to an Elga Ace
  userdata/adam_heatpump/appliances.xml
  userdata/adam_heatpump/domain_objects.xml
  userdata/adam_heatpump/locations.xml
  userdata/adam_heatpump/modules.xml
Due: none

Bump to a6
  plugwise/__init__.py
Due: userdata, mypy

Update Changelog
  CHANGELOG.md
Due: none

Fix scope
  CHANGELOG.md
Due: none

Implement helper-function _control_state()
  plugwise/helper.py
  plugwise/smile.py
Due: userdata, mypy

Add testcase: control_state = heating
  tests/test_smile.py
Due: userdata

Update userdata showing the intended heating_ and control_states
  userdata/adam_plus_anna_new_copy_dhw_and_heating/core.appliances.xml
  userdata/adam_plus_anna_new_copy_dhw_and_heating/core.locations.xml
Due: none

Move assert under the added thermostat
  tests/test_smile.py
Due: userdata

Update core.domain_object as well
  userdata/adam_plus_anna_new_copy_dhw_and_heating/core.domain_objects.xml
Due: none

Correct appliance_id
  tests/test_smile.py
Due: userdata
