Repository plugwise/python-plugwise: changes, and which pre-commit hooks are due for each by the changed paths.
All: userdata, mypy

.pre-commit-config.yaml:

repos:
  # Run manually in CI skipping the branch checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: check-executables-have-shebangs
        stages: [manual]
      - id: no-commit-to-branch
        args:
          - --branch=main
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.30.0
    hooks:
      - id: pyupgrade
        args: [--py37-plus]
  - repo: https://github.com/psf/black
    rev: 21.12b0
    hooks:
      - id: black
        args:
          - --safe
          - --quiet
        files: ^((plugwise|tests)/.+)?[^/]+\.py$
  - repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=hass,alot,datas,dof,dur,farenheit,hist,iff,ines,ist,lightsensor,mut,nd,pres,referer,ser,serie,te,technik,ue,uint,visability,wan,wanna,withing,iam,incomfort
          - --skip="./.*,*.csv,*.json"
          - --quiet-level=2
        exclude_types: [csv, json]
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.2
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-docstrings==1.5.0
          - pydocstyle==5.1.1
        files: ^(plugwise|tests)/.+\.py$
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.1
    hooks:
      - id: bandit
        args:
          - --quiet
          - --format=custom
          - --configfile=tests/bandit.yaml
        files: ^(plugwise|tests)/.+\.py$
  - repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
      - id: isort
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.26.3
    hooks:
      - id: yamllint
  - repo: https://github.com/prettier/prettier
    rev: 2.5.1
    hooks:
      - id: prettier
        stages: [manual]
  - repo: local
    hooks:
      # Run mypy through our wrapper script in order to get the possible
      # pyenv and/or virtualenv activated; it may not have been e.g. if
      # committing from a GUI tool that was not launched from an activated
      # shell.
      - id: userdata
        name: userdata
        entry: scripts/pre-commit.sh
        language: script
        types: [python]
        pass_filenames: false
      - id: mypy
        name: mypy
        entry: scripts/run-in-env.sh mypy
        language: script
        types: [python]
        require_serial: true
        files: ^plugwise/.+\.py$

Leave out isort
  .github/workflows/verify.yml
  .pre-commit-config.yaml
Due: none

Bump alpha version
  plugwise/__init__.py
Due: userdata, mypy

Translate control state
  plugwise/smile.py
Due: userdata, mypy

Ouput cooling_present in heater_central data
  plugwise/smile.py
Due: userdata, mypy

Add # pragma: no cover
  plugwise/helper.py
Due: userdata, mypy

Revert pragma - no cover
  plugwise/helper.py
Due: userdata, mypy

Bump alpha version to a5
  plugwise/__init__.py
Due: userdata, mypy

Remove unneeded code
  tests/test_smile.py
Due: userdata

Add testdata to test_connect_adam_plus_anna_copy_with_error_domain_added
  tests/test_smile.py
Due: userdata

Improve simple_master_thermostat()
  plugwise/smile.py
Due: userdata, mypy

Remove debug-logging, unused var
  plugwise/smile.py
Due: userdata, mypy

Revert translate: heating/cooling_state are heater_central params
  plugwise/smile.py
Due: userdata, mypy

Add testcase for control_state
  tests/test_smile.py
Due: userdata

Collect the control_state for the master thermostats
  plugwise/smile.py
Due: userdata, mypy

Move assert after device_test()
  tests/test_smile.py
Due: userdata

Add extra filtering in _presets()
  plugwise/helper.py
Due: userdata, mypy

Rearrange code
  plugwise/smile.py
Due: userdata, mypy

Add cooling_present to output
  plugwise/smile.py
Due: userdata, mypy

Simplify further
  plugwise/smile.py
Due: userdata, mypy

Remove double init
  plugwise/helper.py
Due: userdata, mypy

Bump to v0.15.6a1
  plugwise/__init__.py
Due: userdata, mypy

Add more filtering
  plugwise/smile.py
Due: userdata, mypy

Add filtering for legacy_anna
  plugwise/helper.py
Due: userdata, mypy

Show control_state only for master thermostats
  plugwise/smile.py
Due: userdata, mypy

Test: update for single_master_thermostat changes
  tests/test_smile.py
Due: userdata

Add testdata to test_connect_anna_v4_no_tag
  tests/test_smile.py
Due: userdata

Add check for cooling-capability - Adam only
  plugwise/helper.py
  plugwise/smile.py
Due: userdata, mypy

Optimize code, add more info
  plugwise/smile.py
Due: userdata, mypy

Test cooling_present
  tests/test_smile.py
Due: userdata

Fix ident
  plugwise/helper.py
Due: userdata, mypy

Bump to a11
  plugwise/__init__.py
Due: userdata, mypy

Auto stash before revert of "Let format_measure() handle None as input"
  plugwise/helper.py
Due: userdata, mypy

Protect cooling_present too
  plugwise/helper.py
  plugwise/smile.py
Due: userdata, mypy

Remove outdoor_temp from HOME_MEASUREMENTS
  plugwise/constants.py
Due: userdata, mypy

Take more from data[0]
  tests/test_smile.py
Due: userdata

Init as None
  plugwise/smile.py
Due: userdata, mypy

Bump to a9
  plugwise/__init__.py
Due: userdata, mypy

Protect sm_thermostat, not used outside the backend
  plugwise/smile.py
Due: userdata, mypy
