Repository plugwise/python-plugwise: changes, and which pre-commit hooks are due for each by the changed paths.
All: userdata, mypy

userdata:
  name: userdata
  entry: scripts/pre-commit.sh
  language: script
  pass_filenames: false

mypy:
  name: mypy
  entry: scripts/run-in-env.sh mypy
  language: script
  require_serial: true

Create @vincentwolsing
  userdata/adam_jip/@vincentwolsing
Due: none

Create @vincentwolsink
  userdata/adam_jip/@vincentwolsink
Due: none

Delete @vincentwolsing
  userdata/adam_jip/@vincentwolsing
Due: none

Fix code based on root-cause of https://github.com/home-assistant/core/issues/79708
  plugwise/helper.py
Due: userdata, mypy

Bump to v0.24.1 release-version
  plugwise/__init__.py
Due: userdata, mypy

Update Changelog
  CHANGELOG.md
Due: none

Fix for https://github.com/home-assistant/core/issues/79708
  plugwise/helper.py
Due: userdata, mypy

Bump to v0.21.4 bugfix-release
  plugwise/__init__.py
Due: userdata, mypy

Allow release publishing for v0.21.4
  .github/workflows/merge.yml
Due: none

Revert back to tinker_thermostat_schedule() for v0.22.1
  tests/test_smile.py
Due: userdata

Execute device_test() before tinker-testing with unhappy=True
  tests/test_smile.py
Due: userdata

Remove double-testing
  tests/test_smile.py
Due: userdata

Replace mode cool by heat_cool
  plugwise/smile.py
Due: userdata, mypy

Bump to v0.24.2 release-version
  plugwise/__init__.py
Due: userdata, mypy

Update one more assert, add _cooling_present assert
  tests/test_smile.py
Due: userdata

Update relevant test asserts
  tests/test_smile.py
Due: userdata

Add setpoint_high/_low to output
  plugwise/constants.py
  plugwise/smile.py
Due: userdata, mypy

Update set_temperature() for dual setpoint handling
  plugwise/smile.py
Due: userdata, mypy

Fix var-name
  plugwise/smile.py
Due: userdata, mypy

Update device_item asserts
  tests/test_smile.py
Due: userdata

Update adam_heatpump_cooling test asserts
  tests/test_smile.py
Due: userdata

Fix cooling_state indication for Adam + OnOff cooler
  plugwise/helper.py
  plugwise/smile.py
Due: userdata, mypy

Fix various asserts
  tests/test_smile.py
Due: userdata

Fix wrong position of code-block
  plugwise/smile.py
Due: userdata, mypy

Update device_items assert
  tests/test_smile.py
Due: userdata

Update typing
  plugwise/constants.py
Due: userdata, mypy

Don't remove setpoint from output yet
  plugwise/smile.py
Due: userdata, mypy

Update device_items asserts
  tests/test_smile.py
Due: userdata

More updates
  tests/test_smile.py
Due: userdata

Remove debugging
  plugwise/smile.py
Due: userdata, mypy

Remove cooling_enabled from output
  plugwise/helper.py
Due: userdata, mypy

Remove/update relevant test asserts
  tests/test_smile.py
Due: userdata

Correct assert
  tests/test_smile.py
Due: userdata

Bump to v0.25.0a0 test-version
  plugwise/__init__.py
Due: userdata, mypy

Bump to v0.25.0 release-version
  plugwise/__init__.py
Due: userdata, mypy

Don't remove setpoint for sensors yet
  plugwise/smile.py
Due: userdata, mypy

Path conditions:
  userdata: any of: \.py$
  mypy: any of: ^plugwise/.+\.py$ and \.py$
