Repository plugwise/python-plugwise: changes, and which pre-commit hooks are due for each by the changed paths.
All: userdata, mypy

.pre-commit-config.yaml:

repos:
  # Run manually in CI skipping the branch checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: check-executables-have-shebangs
        stages: [manual]
      - id: no-commit-to-branch
        args:
          - --branch=main
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.30.0
    hooks:
      - id: pyupgrade
        args: [--py37-plus]
  - repo: https://github.com/psf/black
    rev: 21.12b0
    hooks:
      - id: black
        args:
          - --safe
          - --quiet
        files: ^((plugwise|tests)/.+)?[^/]+\.py$
  - repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=hass,alot,datas,dof,dur,farenheit,hist,iff,ines,ist,lightsensor,mut,nd,pres,referer,ser,serie,te,technik,ue,uint,visability,wan,wanna,withing,iam,incomfort
          - --skip="./.*,*.csv,*.json"
          - --quiet-level=2
        exclude_types: [csv, json]
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.2
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-docstrings==1.5.0
          - pydocstyle==5.1.1
        files: ^(plugwise|tests)/.+\.py$
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.1
    hooks:
      - id: bandit
        args:
          - --quiet
          - --format=custom
          - --configfile=tests/bandit.yaml
        files: ^(plugwise|tests)/.+\.py$
  - repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
      - id: isort
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.26.3
    hooks:
      - id: yamllint
  - repo: https://github.com/prettier/prettier
    rev: 2.5.1
    hooks:
      - id: prettier
        stages: [manual]
  - repo: local
    hooks:
      # Run mypy through our wrapper script in order to get the possible
      # pyenv and/or virtualenv activated; it may not have been e.g. if
      # committing from a GUI tool that was not launched from an activated
      # shell.
      - id: userdata
        name: userdata
        entry: scripts/pre-commit.sh
        language: script
        types: [python]
        pass_filenames: false
      - id: mypy
        name: mypy
        entry: scripts/run-in-env.sh mypy
        language: script
        types: [python]
        require_serial: true
        files: ^plugwise/.+\.py$

Remove unneeded init
  plugwise/smile.py
Due: userdata, mypy

Revert "Correct outdoor_temp test value"
  tests/test_smile.py
Due: userdata

Protect notifications, remove double init
  plugwise/smile.py
Due: userdata, mypy

Correct ident
  plugwise/smile.py
Due: userdata, mypy

Revert "Take single_master_thermostat from data[0]"
  tests/test_smile.py
Due: userdata

Let format_measure() handle None as input
  plugwise/util.py
Due: userdata, mypy

Bump to a12
  plugwise/__init__.py
Due: userdata, mypy

Add None-test for _cooling_present
  tests/test_smile.py
Due: userdata

Correct outdoor_temp test value
  tests/test_smile.py
Due: userdata

Remove unneeded filter, cleanup
  plugwise/helper.py
Due: userdata, mypy

Update comment
  plugwise/smile.py
Due: userdata, mypy

Protect gateway_id
  plugwise/helper.py
  plugwise/smile.py
Due: userdata, mypy

Revert "Remove single_master_thermostat from gw_data, no longer used in pw-beta"
  plugwise/smile.py
Due: userdata, mypy

Small improvement
  plugwise/smile.py
Due: userdata, mypy

Bump back to release-version
  plugwise/__init__.py
Due: userdata, mypy

Remove single_master_thermostat from gw_data, no longer used in pw-beta
  plugwise/smile.py
Due: userdata, mypy

_cooling_present can be None, False or True
  plugwise/helper.py
  plugwise/smile.py
Due: userdata, mypy

Implement missed
  plugwise/helper.py
Due: userdata, mypy

Bump to a7
  plugwise/__init__.py
Due: userdata, mypy

Prepare for v0.15.6 release
  CHANGELOG.md
  plugwise/__init__.py
Due: userdata, mypy

Collect all HOME_MEASUREMENTS from LOCATIONS
  plugwise/helper.py
Due: userdata, mypy

Update changelog
  CHANGELOG.md
Due: none

Add illuminance (back) to constants
  plugwise/constants.py
Due: userdata, mypy

Update comment once more
  plugwise/smile.py
Due: userdata, mypy

Revert: take object_value from DOMAIN_OBJECTS
  plugwise/helper.py
Due: userdata, mypy

Revert remove double init
  plugwise/smile.py
Due: userdata, mypy

Reorganize
  plugwise/helper.py
Due: userdata, mypy

Correct illuminance test-values
  tests/test_smile.py
Due: userdata

Bump to a8
  plugwise/__init__.py
Due: userdata, mypy

Bump to a10
  plugwise/__init__.py
Due: userdata, mypy

Revert "Let format_measure() handle None as input"
  plugwise/util.py
Due: userdata, mypy

Reorganize
  plugwise/smile.py
Due: userdata, mypy

Change testcase for schedule_temperature
  tests/test_smile.py
Due: userdata

Cleanup type_finder()
  plugwise/helper.py
Due: userdata, mypy

Implement more walrus operators
  plugwise/smile.py
Due: userdata, mypy

Make use of format_measure() update
  plugwise/helper.py
Due: userdata, mypy

Take single_master_thermostat from data[0]
  tests/test_smile.py
Due: userdata

Add notes, improve comment
  plugwise/smile.py
Due: userdata, mypy

Bump to a6 for testing
  plugwise/__init__.py
Due: userdata, mypy

Update cooling_present test
  tests/test_smile.py
Due: userdata
