Repository plugwise/python-plugwise: changes, and which pre-commit hooks are due for each by the changed paths.
All: userdata, mypy

userdata:
  name: userdata
  entry: scripts/pre-commit.sh
  language: script
  pass_filenames: false

mypy:
  name: mypy
  entry: scripts/run-in-env.sh mypy
  language: script
  require_serial: true

Merge elga_cooling and lotherm_cooling into anna_cooling
  plugwise/helper.py
  plugwise/smile.py
  tests/test_smile.py
Due: userdata, mypy

Optimize update_for_cooling()
  plugwise/smile.py
Due: userdata, mypy

Improve readability
  plugwise/smile.py
Due: userdata, mypy

Add anna-loria fake firmware
  userdata/anna_loria_idle_fake_firmware/core.appliances.xml
  userdata/anna_loria_idle_fake_firmware/core.direct_objects.xml
  userdata/anna_loria_idle_fake_firmware/core.domain_objects.xml
  userdata/anna_loria_idle_fake_firmware/core.locations.xml
  userdata/anna_loria_idle_fake_firmware/core.modules.xml
Due: none

Add testcase for Anna+Loria, with cooling enable and idle
  tests/test_smile.py
Due: userdata

Update vendor_* in domain_objects as well
  userdata/anna_loria_idle_fake_firmware/core.domain_objects.xml
Due: none

Fix userdata name
  tests/test_smile.py
Due: userdata

Add adam_onoff_cooling_fake_firmware
  userdata/adam_onoff_cooling_fake_firmware/core.appliances.xml
  userdata/adam_onoff_cooling_fake_firmware/core.domain_objects.xml
  userdata/adam_onoff_cooling_fake_firmware/core.locations.xml
  userdata/adam_onoff_cooling_fake_firmware/core.modules.xml
Due: none

Add adam_onoff_cooing test framework
  tests/test_smile.py
Due: userdata

Remove OpenThermGateway from userdata
  userdata/adam_onoff_cooling_fake_firmware/core.appliances.xml
  userdata/adam_onoff_cooling_fake_firmware/core.domain_objects.xml
Due: none

Clear out /core/appliances
  userdata/adam_onoff_cooling_fake_firmware/core.appliances.xml
Due: none

Update onoff_cooling test-asserts
  tests/test_smile.py
Due: userdata

Add handling of Adam + onoff_device heating and cooling states
  plugwise/helper.py
Due: userdata, mypy

Set central_heating_state to on
  userdata/adam_onoff_cooling_fake_firmware/core.appliances.xml
  userdata/adam_onoff_cooling_fake_firmware/core.domain_objects.xml
Due: none

Fix asserts
  tests/test_smile.py
Due: userdata

Fix more
  tests/test_smile.py
Due: userdata

Anna+Loria userdata: remove features/cooling
  userdata/anna_loria_idle_fake_firmware/core.domain_objects.xml
Due: none

Change vendor_* locator formats
  plugwise/smile.py
Due: userdata, mypy

Fix test-asserts
  tests/test_smile.py
Due: userdata

Improve appliance_measurements
  plugwise/helper.py
Due: userdata, mypy

Move maximum_boiler_temperature
  plugwise/constants.py
Due: userdata, mypy

Simplify
  plugwise/helper.py
Due: userdata, mypy

Don't set _anna_cooling_present when it's not an Anna
  plugwise/smile.py
Due: userdata, mypy

Remove double
  plugwise/helper.py
Due: userdata, mypy

Bump to a11
  plugwise/__init__.py
Due: userdata, mypy

Updates according to feedback
  plugwise/smile.py
Due: userdata, mypy

Add MAX_/MIN_SETPOINT constants
  plugwise/constants.py
Due: userdata, mypy

Implement new constants
  plugwise/smile.py
Due: userdata, mypy

Bump to a12
  plugwise/__init__.py
Due: userdata, mypy

Revert back to (_)elga_cooling_* / (_)lortherm_cooling?*
  plugwise/helper.py
  plugwise/smile.py
  tests/test_smile.py
Due: userdata, mypy

Modify cooling_state for _lortherm_cooling_active as well
  plugwise/smile.py
Due: userdata, mypy

Bump to a13
  plugwise/__init__.py
Due: userdata, mypy

Test: add counting of device-items and add asserts
  tests/test_smile.py
Due: userdata

Description-improvements
  tests/test_smile.py
Due: userdata

Bump to v0.20.1 release-version
  plugwise/__init__.py
Due: userdata, mypy

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Report not supporting change of hvac_mode with temperature
  plugwise/smile.py
Due: userdata, mypy

Set_temperature(): use CORE kwargs directly
  plugwise/smile.py
Due: userdata, mypy

Update tinker_thermostat_temp() accordingly
  tests/test_smile.py
Due: userdata

Path conditions:
  userdata: any of: \.py$
  mypy: any of: ^plugwise/.+\.py$ and \.py$
