Repository plugwise/python-plugwise: changes, and which pre-commit hooks are due for each by the changed paths.
All: userdata, mypy

userdata:
  name: userdata
  entry: scripts/pre-commit.sh
  language: script
  pass_filenames: false

mypy:
  name: mypy
  entry: scripts/run-in-env.sh mypy
  language: script
  require_serial: true

Remove double typing
  plugwise/constants.py
Due: userdata, mypy

Change cooling_enabled switch name
  plugwise/constants.py
  plugwise/helper.py
Due: userdata, mypy

Update corresponding test asserts
  tests/test_smile.py
Due: userdata

Final cooling_ena_switch change
  plugwise/helper.py
Due: userdata, mypy

Bump to a1
  plugwise/__init__.py
Due: userdata, mypy

Fix typing
  plugwise/constants.py
Due: userdata, mypy

Add set_dhw_mode() function
  plugwise/smile.py
Due: userdata, mypy

Try
  plugwise/smile.py
Due: userdata, mypy

Try 2
  plugwise/smile.py
Due: userdata, mypy

Try 3
  plugwise/smile.py
Due: userdata, mypy

Try 4
  plugwise/smile.py
Due: userdata, mypy

Add anna_loria switch test
  tests/test_smile.py
Due: userdata

Try 5
  plugwise/smile.py
Due: userdata, mypy

Try 6
  plugwise/smile.py
Due: userdata, mypy

Anna_loria: switch a dhw_cm_switch
  tests/test_smile.py
Due: userdata

Change to cooling_ena_switch
  tests/test_smile.py
Due: userdata

Add cooling_ena_switch option
  plugwise/smile.py
Due: userdata, mypy

Bump to a2
  plugwise/__init__.py
Due: userdata, mypy

Fix set_dhw_mode(), improve var-name
  plugwise/smile.py
Due: userdata, mypy

Bump to a3
  plugwise/__init__.py
Due: userdata, mypy

Add dhw_temperature sensor
  plugwise/constants.py
Due: userdata, mypy

Add anna_loria dhw_temperature asserts
  tests/test_smile.py
Due: userdata

Legacy_anna: correct negative dhw_temp
  userdata/legacy_anna/core.appliances.xml
  userdata/legacy_anna/core.domain_objects.xml
Due: none

Bump to a4
  plugwise/__init__.py
Due: userdata, mypy

Update Changelog
  CHANGELOG.md
Due: none

Replace mode heat_cool by cool
  plugwise/smile.py
Due: userdata, mypy

Update relevant testasserts
  tests/test_smile.py
Due: userdata

Bump to a5
  plugwise/__init__.py
Due: userdata, mypy

Improve Changelog
  CHANGELOG.md
Due: none

Correct anna_heatpump_heating cooling_enabled test assert
  tests/test_smile.py
Due: userdata

Correct elga_status_code to 7 (representing not cooling?)
  userdata/anna_heatpump_heating/core.appliances.xml
Due: none

Correct another assert
  tests/test_smile.py
Due: userdata

Return device-items count asserts
  tests/test_smile.py
Due: userdata

Fix typo
  tests/test_smile.py
Due: userdata

Also provide plugwise notifications for non-legacy P1's
  plugwise/helper.py
Due: userdata, mypy

Adapt relevant test asserts
  tests/test_smile.py
Due: userdata

Add testing for set_dwh_mode()
  tests/test_smile.py
Due: userdata

Bump to v0.24.0 release-version
  plugwise/__init__.py
Due: userdata, mypy

Create @Wishdoc
  userdata/anna_loria_heating_idle/@Wishdoc
Due: none

Path conditions:
  userdata: any of: \.py$
  mypy: any of: ^plugwise/.+\.py$ and \.py$
