Repository plugwise/python-plugwise: changes, and which pre-commit hooks are due for each by the changed paths.
All: userdata, mypy

.pre-commit-config.yaml:

repos:
  # Run manually in CI skipping the branch checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: check-executables-have-shebangs
        stages: [manual]
      - id: no-commit-to-branch
        args:
          - --branch=main
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.30.0
    hooks:
      - id: pyupgrade
        args: [--py37-plus]
  - repo: https://github.com/psf/black
    rev: 21.12b0
    hooks:
      - id: black
        args:
          - --safe
          - --quiet
        files: ^((plugwise|tests)/.+)?[^/]+\.py$
  - repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=hass,alot,datas,dof,dur,farenheit,hist,iff,ines,ist,lightsensor,mut,nd,pres,referer,ser,serie,te,technik,ue,uint,visability,wan,wanna,withing,iam,incomfort
          - --skip="./.*,*.csv,*.json"
          - --quiet-level=2
        exclude_types: [csv, json]
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.2
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-docstrings==1.5.0
          - pydocstyle==5.1.1
        files: ^(plugwise|tests)/.+\.py$
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.1
    hooks:
      - id: bandit
        args:
          - --quiet
          - --format=custom
          - --configfile=tests/bandit.yaml
        files: ^(plugwise|tests)/.+\.py$
  - repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
      - id: isort
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.26.3
    hooks:
      - id: yamllint
  - repo: https://github.com/prettier/prettier
    rev: 2.5.1
    hooks:
      - id: prettier
        stages: [manual]
  - repo: local
    hooks:
      # Run mypy through our wrapper script in order to get the possible
      # pyenv and/or virtualenv activated; it may not have been e.g. if
      # committing from a GUI tool that was not launched from an activated
      # shell.
      - id: userdata
        name: userdata
        entry: scripts/pre-commit.sh
        language: script
        types: [python]
        pass_filenames: false
      - id: mypy
        name: mypy
        entry: scripts/run-in-env.sh mypy
        language: script
        types: [python]
        require_serial: true
        files: ^plugwise/.+\.py$

Fix spelling
  plugwise/smile.py
Due: userdata, mypy

Improve comment
  plugwise/helper.py
Due: userdata, mypy

Combine cooling-related code
  plugwise/helper.py
  plugwise/smile.py
Due: userdata, mypy

Break-out as a separate function
  plugwise/helper.py
Due: userdata, mypy

Update scope in Changelog
  CHANGELOG.md
Due: none

Simplify code, improve comment
  plugwise/helper.py
Due: userdata, mypy

Place .pop() at a more suitable position
  plugwise/helper.py
Due: userdata, mypy

Bump to v0.27.1 release-version
  pyproject.toml
Due: none

Cast async_update() result
  plugwise/smile.py
Due: userdata, mypy

Add py.typed, update config
  py.typed
  setup.py
Due: userdata

Remove redundant cast
  plugwise/smile.py
Due: userdata, mypy

Bump to v0.27.2a0
  pyproject.toml
Due: none

Update CHANGELOG
  CHANGELOG.md
Due: none

Bump to v0.27.2 release-version
  pyproject.toml
Due: none

model_data: replace available by reachable
  plugwise/constants.py
  plugwise/helper.py
Due: userdata, mypy

Remove redundant cast()
  plugwise/smile.py
Due: userdata, mypy

Type as ActuatorData
  plugwise/helper.py
Due: userdata, mypy

Reformat
  plugwise/helper.py
Due: userdata, mypy

Add type:ignore
  plugwise/helper.py
Due: userdata, mypy

_wireless_availability(): type as bool, not Any
  plugwise/helper.py
Due: userdata, mypy

_get_regulation_mode(): type as str, not Any
  plugwise/helper.py
Due: userdata, mypy

Type as DeviceDataPoints
  plugwise/helper.py
Due: userdata, mypy

Type as DeviceData, not as DeviceDataPoints
  plugwise/helper.py
Due: userdata, mypy

type:ignore, fix as bool
  plugwise/helper.py
Due: userdata, mypy

_get_device_data(): type output as DeviceDataPoints
  plugwise/smile.py
Due: userdata, mypy

Fix _update_with_dicts() typing
  plugwise/helper.py
Due: userdata, mypy

Use cast() to fix mypy-error
  plugwise/helper.py
Due: userdata, mypy

Fix
  plugwise/helper.py
Due: userdata, mypy

Merge DeviceDataPoints into DeviceData class, adapt
  plugwise/constants.py
  plugwise/helper.py
  plugwise/smile.py
Due: userdata, mypy

Link missing classes
  plugwise/constants.py
Due: userdata, mypy

Bump to v0.27.3 release-version, update Changelog
  CHANGELOG.md
  pyproject.toml
Due: none

Fix typo
  plugwise/constants.py
Due: userdata, mypy

Remove bool() casting
  plugwise/helper.py
Due: userdata, mypy

Correct c_heating_state type to bool
  plugwise/constants.py
Due: userdata, mypy

Correct roll-over from end to beginning of schedule
  plugwise/helper.py
Due: userdata, mypy

Remove correcting today
  plugwise/helper.py
Due: userdata, mypy

Improve handling of date-time before the first schedule point
  plugwise/helper.py
Due: userdata, mypy

Add missing inits
  plugwise/helper.py
Due: userdata, mypy

Change freeze_time to Monday 0:00:01
  tests/test_smile.py
Due: userdata
