Repository plugwise/python-plugwise: changes, and which pre-commit hooks are due for each by the changed paths.
All: userdata, mypy

.pre-commit-config.yaml:

repos:
  # Run manually in CI skipping the branch checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: check-executables-have-shebangs
        stages: [manual]
      - id: no-commit-to-branch
        args:
          - --branch=main
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.30.0
    hooks:
      - id: pyupgrade
        args: [--py37-plus]
  - repo: https://github.com/psf/black
    rev: 21.12b0
    hooks:
      - id: black
        args:
          - --safe
          - --quiet
        files: ^((plugwise|tests)/.+)?[^/]+\.py$
  - repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=hass,alot,datas,dof,dur,farenheit,hist,iff,ines,ist,lightsensor,mut,nd,pres,referer,ser,serie,te,technik,ue,uint,visability,wan,wanna,withing,iam,incomfort
          - --skip="./.*,*.csv,*.json"
          - --quiet-level=2
        exclude_types: [csv, json]
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.2
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-docstrings==1.5.0
          - pydocstyle==5.1.1
        files: ^(plugwise|tests)/.+\.py$
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.1
    hooks:
      - id: bandit
        args:
          - --quiet
          - --format=custom
          - --configfile=tests/bandit.yaml
        files: ^(plugwise|tests)/.+\.py$
  - repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
      - id: isort
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.26.3
    hooks:
      - id: yamllint
  - repo: https://github.com/prettier/prettier
    rev: 2.5.1
    hooks:
      - id: prettier
        stages: [manual]
  - repo: local
    hooks:
      # Run mypy through our wrapper script in order to get the possible
      # pyenv and/or virtualenv activated; it may not have been e.g. if
      # committing from a GUI tool that was not launched from an activated
      # shell.
      - id: userdata
        name: userdata
        entry: scripts/pre-commit.sh
        language: script
        types: [python]
        pass_filenames: false
      - id: mypy
        name: mypy
        entry: scripts/run-in-env.sh mypy
        language: script
        types: [python]
        require_serial: true
        files: ^plugwise/.+\.py$

Add device dict
  tests/test_smile.py
Due: userdata

Fix asserts
  tests/test_smile.py
Due: userdata

Replace mac-adresses
  userdata/p1v4_440beta_single/core.domain_objects.xml
Due: none

Start adding p1v4_440beta_triple testcase
  tests/test_smile.py
Due: userdata

Add device-dict
  tests/test_smile.py
Due: userdata

Replace mac-adresses
  userdata/p1v4_440beta_triple/core.domain_objects.xml
Due: none

Update assert
  tests/test_smile.py
Due: userdata

Correct assert
  tests/test_smile.py
Due: userdata

Fix device-items count
  tests/test_smile.py
Due: userdata

Add the 3phase related constants
  plugwise/constants.py
Due: userdata, mypy

Different approach
  plugwise/constants.py
Due: userdata, mypy

Try
  plugwise/helper.py
Due: userdata, mypy

No extension for phase-related
  plugwise/helper.py
Due: userdata, mypy

Update 440beta_single device_dict
  tests/test_smile.py
Due: userdata

Correct device-items count
  tests/test_smile.py
Due: userdata

Update 440beta_triple device-dict
  tests/test_smile.py
Due: userdata

Revert incorrect change
  tests/test_smile.py
Due: userdata

Update device-items count
  tests/test_smile.py
Due: userdata

Adapt net_string calc
  plugwise/helper.py
Due: userdata, mypy

Update format_measure() for ELECTRIC_POTENTIAL_VOLT
  plugwise/util.py
Due: userdata, mypy

Update 440beta_triple device-dict for changed voltage values
  tests/test_smile.py
Due: userdata

Bump to v0.26.0a0 test-version, update Changelog
  CHANGELOG.md
  plugwise/__init__.py
Due: userdata, mypy

Fix wrong delete
  plugwise/constants.py
Due: userdata, mypy

Bump to a1
  plugwise/__init__.py
Due: userdata, mypy

Update Changelog
  CHANGELOG.md
Due: none

Bump to v0.26.0 release-version
  plugwise/__init__.py
Due: userdata, mypy

Revert "P1: add 3-phase support"
  CHANGELOG.md
  plugwise/__init__.py
  plugwise/constants.py
  plugwise/helper.py
  plugwise/util.py
  tests/test_smile.py
  userdata/p1v4_440beta_single/core.domain_objects.xml
  userdata/p1v4_440beta_triple/core.domain_objects.xml
Due: userdata, mypy

Remove debugging
  plugwise/helper.py
Due: userdata, mypy

Keep cooling_enabled for Elga
  plugwise/helper.py
Due: userdata, mypy

Elga_2_cooling: add cooling_enabled (2) xml
  userdata/anna_elga_2_cooling/core.appliances.xml
Due: none

Improve Changelog
  CHANGELOG.md
Due: none

Remove one more available for ThermoTouch
  tests/test_smile.py
Due: userdata

Remove redundant
  plugwise/helper.py
Due: userdata, mypy

Fix typing
  plugwise/helper.py
Due: userdata, mypy

Add _findall() function
  plugwise/helper.py
Due: userdata, mypy

Change logging
  tests/test_smile.py
Due: userdata

Change to warning-level, add suggestion
  plugwise/helper.py
Due: userdata, mypy

Update added userdata states
  userdata/anna_elga_2_cooling/core.appliances.xml
Due: none

Rearrange
  plugwise/helper.py
Due: userdata, mypy

Implement one more _find()
  plugwise/helper.py
Due: userdata, mypy
