Repository plugwise/python-plugwise: changes, and which pre-commit hooks are due for each by the changed paths.
All: userdata, mypy

.pre-commit-config.yaml:

repos:
  # Run manually in CI skipping the branch checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: check-executables-have-shebangs
        stages: [manual]
      - id: no-commit-to-branch
        args:
          - --branch=main
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.30.0
    hooks:
      - id: pyupgrade
        args: [--py37-plus]
  - repo: https://github.com/psf/black
    rev: 21.12b0
    hooks:
      - id: black
        args:
          - --safe
          - --quiet
        files: ^((plugwise|tests)/.+)?[^/]+\.py$
  - repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=hass,alot,datas,dof,dur,farenheit,hist,iff,ines,ist,lightsensor,mut,nd,pres,referer,ser,serie,te,technik,ue,uint,visability,wan,wanna,withing,iam,incomfort
          - --skip="./.*,*.csv,*.json"
          - --quiet-level=2
        exclude_types: [csv, json]
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.2
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-docstrings==1.5.0
          - pydocstyle==5.1.1
        files: ^(plugwise|tests)/.+\.py$
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.1
    hooks:
      - id: bandit
        args:
          - --quiet
          - --format=custom
          - --configfile=tests/bandit.yaml
        files: ^(plugwise|tests)/.+\.py$
  - repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
      - id: isort
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.26.3
    hooks:
      - id: yamllint
  - repo: https://github.com/prettier/prettier
    rev: 2.5.1
    hooks:
      - id: prettier
        stages: [manual]
  - repo: local
    hooks:
      # Run mypy through our wrapper script in order to get the possible
      # pyenv and/or virtualenv activated; it may not have been e.g. if
      # committing from a GUI tool that was not launched from an activated
      # shell.
      - id: userdata
        name: userdata
        entry: scripts/pre-commit.sh
        language: script
        types: [python]
        pass_filenames: false
      - id: mypy
        name: mypy
        entry: scripts/run-in-env.sh mypy
        language: script
        types: [python]
        require_serial: true
        files: ^plugwise/.+\.py$

Update availability-status of wireless thermostats as well
  plugwise/helper.py
Due: userdata, mypy

Bump to a3
  plugwise/__init__.py
Due: userdata, mypy

Make sure to refresh self._modules as well
  plugwise/smile.py
Due: userdata, mypy

Bump to a4
  plugwise/__init__.py
Due: userdata, mypy

Increase allowed P1 interval-time
  plugwise/smile.py
Due: userdata, mypy

Bump to a5
  plugwise/__init__.py
Due: userdata, mypy

Remove P1 and heater_central availability, add OpenTherm availability
  plugwise/helper.py
  plugwise/smile.py
Due: userdata, mypy

bump to a6
  plugwise/__init__.py
Due: userdata, mypy

Don't show available for legacy devices
  plugwise/smile.py
Due: userdata, mypy

Improve
  plugwise/smile.py
Due: userdata, mypy

Fix typing
  plugwise/helper.py
Due: userdata, mypy

More fixing
  plugwise/smile.py
Due: userdata, mypy

Fix
  plugwise/constants.py
Due: userdata, mypy

Another fix
  plugwise/helper.py
Due: userdata, mypy

Remove no longer used modified_date related
  plugwise/helper.py
Due: userdata, mypy

Remove redundant False
  tests/test_smile.py
Due: userdata

Revert back to schedule = [None]
  tests/test_smile.py
Due: userdata

Small improvement
  plugwise/helper.py
Due: userdata, mypy

Add comments
  plugwise/smile.py
Due: userdata, mypy

Fix assert
  tests/test_smile.py
Due: userdata

Don't show available for OnOff device
  plugwise/smile.py
Due: userdata, mypy

Improve code, comments
  plugwise/helper.py
Due: userdata, mypy

Move guarding to helper, add walrus
  plugwise/helper.py
  plugwise/smile.py
Due: userdata, mypy

Don't collect modified_date for legacy devices
  plugwise/helper.py
Due: userdata, mypy

Userdata: advance/correct system time for testcase
  userdata/adam_plus_anna/core.domain_objects.xml
Due: none

Userdata: advance/correct another system time
  userdata/anna_heatpump_cooling/core.domain_objects.xml
Due: none

Advance another system time
  userdata/anna_heatpump_cooling_fake_firmware/core.domain_objects.xml
Due: none

Several more system time advances
  userdata/anna_heatpump_cooling_fake_firmware/core.domain_objects.xml
  userdata/anna_heatpump_cooling_to_off/core.domain_objects.xml
  userdata/anna_heatpump_heating/core.domain_objects.xml
  userdata/anna_loria_idle_fake_firmware/core.domain_objects.xml
Due: none

Add available for smartmeter, non-legacy only
  plugwise/smile.py
Due: userdata, mypy

Revert vacation-preset removal for Adam
  plugwise/helper.py
Due: userdata, mypy

Update related test-asserts
  tests/test_smile.py
Due: userdata

Add smartmeter not connected notification
  userdata/p1v4/core.domain_objects.xml
Due: none

Update relevant test-assert
  tests/test_smile.py
Due: userdata

Add non-legacy P1 available asserts
  tests/test_smile.py
Due: userdata

Add no OpenTherm communication notification
  userdata/adam_plus_anna/core.domain_objects.xml
Due: none

Add OpenTherm available assert
  tests/test_smile.py
Due: userdata

Correct binary_sensor plugwise notification
  tests/test_smile.py
Due: userdata

Add more available test-asserts
  tests/test_smile.py
Due: userdata
