Repository plugwise/python-plugwise: changes, and which pre-commit hooks are due for each by the changed paths.
All: userdata, mypy

userdata:
  name: userdata
  entry: scripts/pre-commit.sh
  language: script
  pass_filenames: false

mypy:
  name: mypy
  entry: scripts/run-in-env.sh mypy
  language: script
  require_serial: true

Correct device-items total counts
  tests/test_smile.py
Due: userdata

Fix order, remove unused import
  plugwise/smile.py
Due: userdata, mypy

Add guarding
  plugwise/smile.py
Due: userdata, mypy

Update more device-item counts
  tests/test_smile.py
Due: userdata

Correct mistake in userdata
  userdata/anna_elga_2/core.appliances.xml
Due: none

Final fix
  tests/test_smile.py
Due: userdata

Workaround to fix mypy error
  plugwise/smile.py
Due: userdata, mypy

Avoid creating phantom thermostat-dict
  plugwise/helper.py
Due: userdata, mypy

Correct device-item counts
  tests/test_smile.py
Due: userdata

Bump to a3
  plugwise/__init__.py
Due: userdata, mypy

Fix setpoint_low/_high not updating
  plugwise/smile.py
Due: userdata, mypy

Bump to a4
  plugwise/__init__.py
Due: userdata, mypy

Bump to v0.21.0 release-version
  plugwise/__init__.py
Due: userdata, mypy

Update Changelog
  CHANGELOG.md
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Set python-default-version to 3.10
  .github/workflows/merge.yml
  .github/workflows/verify.yml
Due: none

Remove v3.9 from python-venv.sh
  scripts/python-venv.sh
Due: none

pyproject.toml: set python-version to 3.10
  pyproject.toml
Due: none

Precommit: set python-version to 3.10
  .pre-commit-config.yaml
Due: none

Setup: set python-version to 3.10
  setup.cfg
Due: none

Solve pyproject.toml issues
  pyproject.toml
Due: none

Remove pylint: no-self-use
  plugwise/connections/__init__.py
  pyproject.toml
Due: userdata, mypy

Constants: change friendly_name to Smile
  plugwise/constants.py
Due: userdata, mypy

Change to Smile
  plugwise/helper.py
Due: userdata, mypy

Adapt to plugwise changes
  tests/test_smile.py
Due: userdata

Bump to v0.21.1a0
  plugwise/__init__.py
Due: userdata, mypy

Update CHANGELOG
  CHANGELOG.md
Due: none

Revert "Adapt to plugwise changes"
  tests/test_smile.py
Due: userdata

Adapt to plugwise changes II
  tests/test_smile.py
Due: userdata

More Anna-name/model fixes
  plugwise/helper.py
Due: userdata, mypy

Correct test-asserts
  tests/test_smile.py
Due: userdata

Smile.py: change to Smile as well
  plugwise/smile.py
Due: userdata, mypy

pyproject.toml: pylint fixes
  pyproject.toml
Due: none

Remove no longer available
  plugwise/connections/__init__.py
Due: userdata, mypy

Unprotect _adam_cooling_enabled
  plugwise/helper.py
  plugwise/smile.py
  tests/test_smile.py
Due: userdata, mypy

Bump to a1
  plugwise/__init__.py
Due: userdata, mypy

Add *_cooling_enabled to output
  plugwise/helper.py
Due: userdata, mypy

Add test-asserts for the added output
  tests/test_smile.py
Due: userdata

Bugfix: check for presence of cooling_enabled
  plugwise/helper.py
Due: userdata, mypy

Bump to a2
  plugwise/__init__.py
Due: userdata, mypy

Path conditions:
  userdata: any of: \.py$
  mypy: any of: ^plugwise/.+\.py$ and \.py$
