Repository plugwise/python-plugwise: changes, and which pre-commit hooks are due for each by the changed paths.
All: userdata, mypy

.pre-commit-config.yaml:

repos:
  # Run manually in CI skipping the branch checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: check-executables-have-shebangs
        stages: [manual]
      - id: no-commit-to-branch
        args:
          - --branch=main
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.30.0
    hooks:
      - id: pyupgrade
        args: [--py37-plus]
  - repo: https://github.com/psf/black
    rev: 21.12b0
    hooks:
      - id: black
        args:
          - --safe
          - --quiet
        files: ^((plugwise|tests)/.+)?[^/]+\.py$
  - repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=hass,alot,datas,dof,dur,farenheit,hist,iff,ines,ist,lightsensor,mut,nd,pres,referer,ser,serie,te,technik,ue,uint,visability,wan,wanna,withing,iam,incomfort
          - --skip="./.*,*.csv,*.json"
          - --quiet-level=2
        exclude_types: [csv, json]
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.2
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-docstrings==1.5.0
          - pydocstyle==5.1.1
        files: ^(plugwise|tests)/.+\.py$
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.1
    hooks:
      - id: bandit
        args:
          - --quiet
          - --format=custom
          - --configfile=tests/bandit.yaml
        files: ^(plugwise|tests)/.+\.py$
  - repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
      - id: isort
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.26.3
    hooks:
      - id: yamllint
  - repo: https://github.com/prettier/prettier
    rev: 2.5.1
    hooks:
      - id: prettier
        stages: [manual]
  - repo: local
    hooks:
      # Run mypy through our wrapper script in order to get the possible
      # pyenv and/or virtualenv activated; it may not have been e.g. if
      # committing from a GUI tool that was not launched from an activated
      # shell.
      - id: userdata
        name: userdata
        entry: scripts/pre-commit.sh
        language: script
        types: [python]
        pass_filenames: false
      - id: mypy
        name: mypy
        entry: scripts/run-in-env.sh mypy
        language: script
        types: [python]
        require_serial: true
        files: ^plugwise/.+\.py$

Remove correcting today
  plugwise/helper.py
Due: userdata, mypy

Improve handling of date-time before the first schedule point
  plugwise/helper.py
Due: userdata, mypy

Add missing inits
  plugwise/helper.py
Due: userdata, mypy

Change freeze_time to Monday 0:00:01
  tests/test_smile.py
Due: userdata

Update Changelog
  CHANGELOG.md
Due: none

Bump to v0.27.4 release-version
  pyproject.toml
Due: none

Update constants.py
  plugwise/constants.py
Due: userdata, mypy

Update helper.py
  plugwise/helper.py
Due: userdata, mypy

mypy: add strict = true
  pyproject.toml
Due: none

Fix mypy error
  plugwise/util.py
Due: userdata, mypy

Move PlugwiseData class into backend
  plugwise/constants.py
  plugwise/smile.py
Due: userdata, mypy

Bump to v0.28.0a0 test-version
  pyproject.toml
Due: none

Update CHANGELOG
  CHANGELOG.md
Due: none

Prepare Python 3.11
  .github/workflows/verify.yml
  pyproject.toml
  scripts/python-venv.sh
Due: none

Enable py-typed in setup
  setup.py
Due: userdata

Bump to a1
  pyproject.toml
Due: none

Try
  plugwise/smile.py
Due: userdata, mypy

Replace NamedTuple by dataclass
  plugwise/constants.py
Due: userdata, mypy

Change to dataclass naming
  tests/test_smile.py
Due: userdata

Debug
  tests/test_smile.py
Due: userdata

Covert data to json
  tests/test_smile.py
Due: userdata

Change
  tests/test_smile.py
Due: userdata

Bump to a2
  pyproject.toml
Due: none

Bump CACHE_VERSION
  .github/workflows/verify.yml
Due: none

Sort bump?
  .pre-commit-config.yaml
Due: none

Fix pre-commit build in actions
  .pre-commit-config.yaml
Due: none

Remove/replace unneeded vars
  tests/test_smile.py
Due: userdata

More debug
  plugwise/smile.py
Due: userdata, mypy

Clear setup.py
  setup.py
Due: userdata

Add py.typed in pyproject.toml
  pyproject.toml
Due: none

Bump to a4
  pyproject.toml
Due: none

Add extra guarding for Loria&Thermastage
  plugwise/helper.py
Due: userdata, mypy

fixup: fix-#340 Python code reformatted using Black
  plugwise/helper.py
Due: userdata, mypy

Add v0.27.5 release info
  CHANGELOG.md
Due: none

Bump version to v0.27.5a0 test-version
  pyproject.toml
Due: none

Bump to v0.27.5 release-version
  pyproject.toml
Due: none

Guard log failure for responses without mac
  plugwise/controller.py
Due: userdata, mypy

Bump to v0.27.6 release-version
  pyproject.toml
Due: none
