Repository plugwise/python-plugwise: changes, and which pre-commit hooks are due for each by the changed paths.
All: userdata, mypy

.pre-commit-config.yaml:

repos:
  # Run manually in CI skipping the branch checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: check-executables-have-shebangs
        stages: [manual]
      - id: no-commit-to-branch
        args:
          - --branch=main
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.30.0
    hooks:
      - id: pyupgrade
        args: [--py37-plus]
  - repo: https://github.com/psf/black
    rev: 21.12b0
    hooks:
      - id: black
        args:
          - --safe
          - --quiet
        files: ^((plugwise|tests)/.+)?[^/]+\.py$
  - repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=hass,alot,datas,dof,dur,farenheit,hist,iff,ines,ist,lightsensor,mut,nd,pres,referer,ser,serie,te,technik,ue,uint,visability,wan,wanna,withing,iam,incomfort
          - --skip="./.*,*.csv,*.json"
          - --quiet-level=2
        exclude_types: [csv, json]
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.2
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-docstrings==1.5.0
          - pydocstyle==5.1.1
        files: ^(plugwise|tests)/.+\.py$
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.1
    hooks:
      - id: bandit
        args:
          - --quiet
          - --format=custom
          - --configfile=tests/bandit.yaml
        files: ^(plugwise|tests)/.+\.py$
  - repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
      - id: isort
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.26.3
    hooks:
      - id: yamllint
  - repo: https://github.com/prettier/prettier
    rev: 2.5.1
    hooks:
      - id: prettier
        stages: [manual]
  - repo: local
    hooks:
      # Run mypy through our wrapper script in order to get the possible
      # pyenv and/or virtualenv activated; it may not have been e.g. if
      # committing from a GUI tool that was not launched from an activated
      # shell.
      - id: userdata
        name: userdata
        entry: scripts/pre-commit.sh
        language: script
        types: [python]
        pass_filenames: false
      - id: mypy
        name: mypy
        entry: scripts/run-in-env.sh mypy
        language: script
        types: [python]
        require_serial: true
        files: ^plugwise/.+\.py$

Update missed
  tests/test_smile.py
Due: userdata

Optimize code, update comments
  plugwise/helper.py
  plugwise/smile.py
Due: userdata, mypy

Remove specific getting illuminance code
  plugwise/smile.py
Due: userdata, mypy

Move cooling_present into gw_data
  plugwise/smile.py
Due: userdata, mypy

Implement walrus operator, optimize
  plugwise/helper.py
Due: userdata, mypy

Take power data only from P1
  plugwise/helper.py
Due: userdata, mypy

Compact changelog
  CHANGELOG.md
Due: none

Revert protect gateway_id, needed in pw-beta
  plugwise/helper.py
  plugwise/smile.py
Due: userdata, mypy

Remove dependent links and call directly
  package_constraints.txt
  requirements_commit.txt
  requirements_test.txt
  scripts/setup.sh
  scripts/setup_test.sh
Due: none

Add dependabot
  .github/dependabot.yml
Due: none

Ignore test pypi failure
  .github/workflows/verify.yml
Due: none

Add comments
  CHANGELOG.md
Due: none

Add wheel and wrap test_and_coverage
  scripts/setup.sh
  scripts/setup_test.sh
  scripts/tests_and_coverage.sh
Due: none

Improve scripts
  scripts/complexity.sh
  scripts/pre-commit.sh
  scripts/python-venv.sh
  scripts/run-in-env.sh
  scripts/setup.sh
  scripts/setup_test.sh
  scripts/tests_and_coverage.sh
Due: none

Improve scripts
  scripts/tests_and_coverage.sh
Due: none

Consistent use of bash
  scripts/setup_test.sh
Due: none

Add shellcheck while we are improving
  .github/workflows/verify.yml
Due: none

Shellcheck
  scripts/complexity.sh
  scripts/python-venv.sh
  scripts/run-in-env.sh
  scripts/setup.sh
  scripts/setup_test.sh
  scripts/tests_and_coverage.sh
Due: none

Fix assert for anna_heatpump
  tests/test_smile.py
Due: userdata

Add Anna-cooling-related parameters, rearrange
  plugwise/constants.py
Due: userdata, mypy

Bump to v0.15.7a0
  plugwise/__init__.py
Due: userdata, mypy

Add testcases covering Anna with cooling
  tests/test_smile.py
Due: userdata

Make cooling_present a boolean
  plugwise/helper.py
  plugwise/smile.py
Due: userdata, mypy

Fix cooling_present assert
  tests/test_smile.py
Due: userdata

Add the additions to the sensor-list
  plugwise/constants.py
Due: userdata, mypy

Move the added testcases under the correct device
  tests/test_smile.py
Due: userdata

Fix typo
  plugwise/helper.py
Due: userdata, mypy

Add check for Anna: cooling present?
  plugwise/helper.py
Due: userdata, mypy

Shorten comment as suggested
  plugwise/helper.py
Due: userdata, mypy

Correct Anna temperature to match the heating-state
  userdata/anna_heatpump/core.appliances.xml
Due: none

Constants: correct & improve comments
  plugwise/constants.py
Due: userdata, mypy

Line up comments
  plugwise/helper.py
Due: userdata, mypy

Move preset-action before async_update()
  tests/test_smile.py
Due: userdata

Bump to a2
  plugwise/__init__.py
Due: userdata, mypy

Add default preset for smile.cooling_active
  tests/test_smile.py
Due: userdata

More comments improvements
  plugwise/constants.py
Due: userdata, mypy

Add cooling_active to Anna-data
  plugwise/helper.py
  plugwise/smile.py
Due: userdata, mypy

Adam: add cooling_active to heater_central
  plugwise/smile.py
Due: userdata, mypy

Update Changelog
  CHANGELOG.md
Due: none

Add self.cooling_active for use of the var via the api
  plugwise/helper.py
  plugwise/smile.py
Due: userdata, mypy
