Repository plugwise/python-plugwise: changes, and which pre-commit hooks are due for each by the changed paths.
All: userdata, mypy

userdata:
  name: userdata
  entry: scripts/pre-commit.sh
  language: script
  pass_filenames: false

mypy:
  name: mypy
  entry: scripts/run-in-env.sh mypy
  language: script
  require_serial: true

Improve guarding
  plugwise/smile.py
Due: userdata, mypy

Try 7
  plugwise/smile.py
Due: userdata, mypy

Change code to fit placement
  plugwise/smile.py
Due: userdata, mypy

Clean up
  plugwise/smile.py
Due: userdata, mypy

Move removal of cooling_state
  plugwise/helper.py
Due: userdata, mypy

Also add updating of cooling_state to async_update()
  plugwise/smile.py
Due: userdata, mypy

Correct
  plugwise/smile.py
Due: userdata, mypy

Remove unused
  tests/test_smile.py
Due: userdata

Fix assert
  tests/test_smile.py
Due: userdata

Remove no longer needed testcase
  tests/test_smile.py
Due: userdata

Remove incorrect asserts
  tests/test_smile.py
Due: userdata

Userdata anna_elga_2_cooling: change elga_status to 8
  userdata/anna_elga_2_cooling/core.appliances.xml
  userdata/anna_elga_2_cooling/core.domain_objects.xml
Due: none

Add more info to testcase
  tests/test_smile.py
Due: userdata

Improve guarding at 2nd position
  plugwise/smile.py
Due: userdata, mypy

Simplify
  plugwise/smile.py
Due: userdata, mypy

Change (_)anna_cooling_* to (_)lortherm_cooling_*
  plugwise/helper.py
  plugwise/smile.py
Due: userdata, mypy

Update in testing as well
  tests/test_smile.py
Due: userdata

Remove debug logging
  plugwise/helper.py
Due: userdata, mypy

Improve cooling-detection logic
  plugwise/smile.py
Due: userdata, mypy

Modify states for Adam + OnOff cooling, improve logic
  plugwise/smile.py
Due: userdata, mypy

Revert to correct old logic
  plugwise/smile.py
Due: userdata, mypy

Bump to a9
  plugwise/__init__.py
Due: userdata, mypy

Constants: add elga_status_code
  plugwise/constants.py
Due: userdata, mypy

central_heating_state --> heating_state
  plugwise/smile.py
Due: userdata, mypy

Delete send_cooling_on()
  plugwise/smile.py
Due: userdata, mypy

Remove from testing as well
  tests/test_smile.py
Due: userdata

Correct test-asserts, add info
  tests/test_smile.py
Due: userdata

Improve testcase elga_2_cooling
  tests/test_smile.py
Due: userdata

Correct: lortherm_cooling is similar to elga_cooling
  plugwise/helper.py
  plugwise/smile.py
Due: userdata, mypy

Modify states twice!
  plugwise/smile.py
Due: userdata, mypy

Change cooling-related items in a 2nd loop
  plugwise/smile.py
Due: userdata, mypy

Move adding setpoint_low/_high
  plugwise/helper.py
  plugwise/smile.py
Due: userdata, mypy

Better guarding
  plugwise/smile.py
Due: userdata, mypy

Update/fix test-asserts
  tests/test_smile.py
Due: userdata

Add ZONE_THERMOSTATS and implement
  plugwise/constants.py
  plugwise/smile.py
Due: userdata, mypy

Add update_for_cooling() and implement
  plugwise/smile.py
Due: userdata, mypy

Fix typing
  plugwise/helper.py
Due: userdata, mypy

Bump to a10
  plugwise/__init__.py
Due: userdata, mypy

Set_temperature(): add missing condition
  plugwise/smile.py
Due: userdata, mypy

Path conditions:
  userdata: any of: \.py$
  mypy: any of: ^plugwise/.+\.py$ and \.py$
