Repository plugwise/python-plugwise: changes, and which pre-commit hooks are due for each by the changed paths.
All: userdata, mypy

.pre-commit-config.yaml:

repos:
  # Run manually in CI skipping the branch checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: check-executables-have-shebangs
        stages: [manual]
      - id: no-commit-to-branch
        args:
          - --branch=main
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.30.0
    hooks:
      - id: pyupgrade
        args: [--py37-plus]
  - repo: https://github.com/psf/black
    rev: 21.12b0
    hooks:
      - id: black
        args:
          - --safe
          - --quiet
        files: ^((plugwise|tests)/.+)?[^/]+\.py$
  - repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=hass,alot,datas,dof,dur,farenheit,hist,iff,ines,ist,lightsensor,mut,nd,pres,referer,ser,serie,te,technik,ue,uint,visability,wan,wanna,withing,iam,incomfort
          - --skip="./.*,*.csv,*.json"
          - --quiet-level=2
        exclude_types: [csv, json]
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.2
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-docstrings==1.5.0
          - pydocstyle==5.1.1
        files: ^(plugwise|tests)/.+\.py$
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.1
    hooks:
      - id: bandit
        args:
          - --quiet
          - --format=custom
          - --configfile=tests/bandit.yaml
        files: ^(plugwise|tests)/.+\.py$
  - repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
      - id: isort
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.26.3
    hooks:
      - id: yamllint
  - repo: https://github.com/prettier/prettier
    rev: 2.5.1
    hooks:
      - id: prettier
        stages: [manual]
  - repo: local
    hooks:
      # Run mypy through our wrapper script in order to get the possible
      # pyenv and/or virtualenv activated; it may not have been e.g. if
      # committing from a GUI tool that was not launched from an activated
      # shell.
      - id: userdata
        name: userdata
        entry: scripts/pre-commit.sh
        language: script
        types: [python]
        pass_filenames: false
      - id: mypy
        name: mypy
        entry: scripts/run-in-env.sh mypy
        language: script
        types: [python]
        require_serial: true
        files: ^plugwise/.+\.py$

Standardize callback scan_finished
  plugwise/stick.py
Due: userdata, mypy

Add DAY_IN_SECONDS constant
  plugwise/constants.py
  plugwise/nodes/circle_plus.py
Due: userdata, mypy

Rename const MESSAGE_SMALL & MESSAGE_LARGE
  plugwise/constants.py
  plugwise/messages/responses.py
Due: userdata, mypy

Use DAY_IN_MINUTES & HOUR_IN_MINUTES constants
  plugwise/constants.py
  plugwise/messages/requests.py
Due: userdata, mypy

Reorder NodePintResponse
  plugwise/messages/responses.py
Due: userdata, mypy

Add typing to Stick class
  plugwise/stick.py
Due: userdata, mypy

Mark power nodes unavailable after 5 minutes
  plugwise/nodes/__init__.py
  plugwise/stick.py
Due: userdata, mypy

Rename _request_info into _request_NodeInfo
  plugwise/nodes/__init__.py
  plugwise/nodes/circle.py
  plugwise/nodes/sed.py
Due: userdata, mypy

Rename _request_ping into _request_NodePing
  plugwise/nodes/__init__.py
Due: userdata, mypy

Only discover unknown nodes after JoinAccept
  plugwise/stick.py
Due: userdata, mypy

Correct _callback_NodeInfo
  plugwise/stick.py
Due: userdata, mypy

Add more typing
  plugwise/nodes/__init__.py
  plugwise/nodes/circle_plus.py
  plugwise/stick.py
Due: userdata, mypy

Simplify logic for _nodes_not_discovered
  plugwise/stick.py
Due: userdata, mypy

Make features extendable
  plugwise/constants.py
  plugwise/nodes/__init__.py
  plugwise/nodes/circle.py
  plugwise/nodes/scan.py
  plugwise/nodes/sense.py
  plugwise/nodes/switch.py
Due: userdata, mypy

Update typing & comments to request and response
  plugwise/messages/__init__.py
  plugwise/messages/requests.py
  plugwise/messages/responses.py
  plugwise/stick.py
Due: userdata, mypy

Full rewrite of energy
  plugwise/constants.py
  plugwise/nodes/__init__.py
  plugwise/nodes/circle.py
  plugwise/nodes/energy.py
  plugwise/stick.py
Due: userdata, mypy

Add missing MESSAGE_RETRY import
  plugwise/nodes/__init__.py
Due: userdata, mypy

Reorder and cleanup do... methods
  plugwise/nodes/__init__.py
Due: userdata, mypy

Guard for none discovered node
  plugwise/stick.py
Due: userdata, mypy

Correct comments
  plugwise/nodes/__init__.py
  plugwise/nodes/switch.py
Due: userdata, mypy

Cleanup logging
  plugwise/nodes/circle.py
  plugwise/nodes/energy.py
Due: userdata, mypy

Fix mac validation at response messages
  plugwise/messages/responses.py
Due: userdata, mypy

Remove duplicate logging
  plugwise/controller.py
Due: userdata, mypy

Apply formatting to CHANGELOG.md
  CHANGELOG.md
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

fixup: USB_energy_refactor Python code reformatted using Black
  plugwise/nodes/energy.py
Due: userdata, mypy

Change logging to debug for expected timeouts
  plugwise/controller.py
Due: userdata, mypy

Revert accidentally unrelated committed code
  plugwise/nodes/circle.py
Due: userdata, mypy

Apply codespell
  plugwise/nodes/energy.py
Due: userdata, mypy

Update set_schedule_state() toggling the location_id
  plugwise/smile.py
Due: userdata, mypy

Bump to a8
  plugwise/__init__.py
Due: userdata, mypy

Update _schemas(), schemas_schedule_temp()
  plugwise/helper.py
Due: userdata, mypy

Adapt userdata: adapt = true, loc_id is not present for a deselected schema
  userdata/anna_heatpump_cooling/core.domain_objects.xml
  userdata/anna_v4/core.domain_objects.xml
Due: none

Userdata: anna_v4 adapt other schema to the new format too
  userdata/anna_v4/core.domain_objects.xml
Due: none

Bump to a9
  plugwise/__init__.py
Due: userdata, mypy

Update adam_plus_anna_new userdata
  userdata/adam_plus_anna_new/core.appliances.old
  userdata/adam_plus_anna_new/core.appliances.xml
  userdata/adam_plus_anna_new/core.domain_objects.old
  userdata/adam_plus_anna_new/core.domain_objects.xml
  userdata/adam_plus_anna_new/core.locations.old
  userdata/adam_plus_anna_new/core.locations.xml
  userdata/adam_plus_anna_new/core.modules.old
  userdata/adam_plus_anna_new/core.modules.xml
Due: none

Test: update relevant asserts
  tests/test_smile.py
Due: userdata

Rework schemas_schedule_temp()
  plugwise/helper.py
Due: userdata, mypy

Match id's to updated userdata
  tests/test_smile.py
Due: userdata

Remove backups
  userdata/adam_plus_anna_new/core.appliances.old
  userdata/adam_plus_anna_new/core.domain_objects.old
  userdata/adam_plus_anna_new/core.locations.old
  userdata/adam_plus_anna_new/core.modules.old
Due: none
