Repository plugwise/python-plugwise: changes, and which pre-commit hooks are due for each by the changed paths.
All: userdata, mypy

userdata:
  name: userdata
  entry: scripts/pre-commit.sh
  language: script
  pass_filenames: false

mypy:
  name: mypy
  entry: scripts/run-in-env.sh mypy
  language: script
  require_serial: true

Clean up
  plugwise/constants.py
  plugwise/util.py
Due: userdata, mypy

Clean up remaining
  plugwise/constants.py
Due: userdata, mypy

Cleaning test-asserts
  tests/test_smile.py
Due: userdata

Bump to a3
  plugwise/__init__.py
Due: userdata, mypy

Revert adding and using freezegun
  tests/test_smile.py
Due: userdata

Update Changelog
  CHANGELOG.md
Due: none

set_schedule_state(): improve error-handling
  plugwise/helper.py
  plugwise/smile.py
Due: userdata, mypy

Fix assert to False
  tests/test_smile.py
Due: userdata

Use self._last_active data instead
  plugwise/helper.py
  plugwise/smile.py
Due: userdata, mypy

Adjust to simpler and better solution
  plugwise/smile.py
Due: userdata, mypy

Add testcase to increase coverage, improve existing
  tests/test_smile.py
Due: userdata

Typing fixes, stringify temperature inputs
  plugwise/smile.py
Due: userdata, mypy

Fix mypy errors
  plugwise/smile.py
Due: userdata, mypy

Bump to a4
  plugwise/__init__.py
Due: userdata, mypy

Clean up
  plugwise/helper.py
Due: userdata, mypy

Optimize further
  plugwise/smile.py
Due: userdata, mypy

Simplify _schedules()
  plugwise/helper.py
Due: userdata, mypy

Further _schedules() cleanup
  plugwise/helper.py
Due: userdata, mypy

Update test-assert accordingly
  tests/test_smile.py
Due: userdata

Bump to a5
  plugwise/__init__.py
Due: userdata, mypy

Add input checks for set_preset() and set_schedule_state()
  plugwise/helper.py
  plugwise/smile.py
Due: userdata, mypy

Revert double, combine
  plugwise/helper.py
  plugwise/smile.py
Due: userdata, mypy

Debug
  plugwise/smile.py
Due: userdata, mypy

Move vacation-preset removal to _presets()
  plugwise/helper.py
  plugwise/smile.py
Due: userdata, mypy

Add bad schedule-input test
  tests/test_smile.py
Due: userdata

Remove check, handled by added input-check
  plugwise/smile.py
Due: userdata, mypy

Optimize
  plugwise/smile.py
Due: userdata, mypy

Bump to a6
  plugwise/__init__.py
Due: userdata, mypy

Add check for no presets
  plugwise/helper.py
  plugwise/smile.py
Due: userdata, mypy

Correct
  plugwise/smile.py
Due: userdata, mypy

Cover via pragma-no cover
  plugwise/smile.py
Due: userdata, mypy

Bump to a7
  plugwise/__init__.py
Due: userdata, mypy

Bump to v0.18.4 release-version
  plugwise/__init__.py
Due: userdata, mypy

Change userdata dirname, line up to pw-beta change
  userdata/anna_heatpump_heating/.!16795!core.domain_objects.xml
  userdata/anna_heatpump_heating/core.appliances.xml
  userdata/anna_heatpump_heating/core.direct_objects.xml
  userdata/anna_heatpump_heating/core.domain_objects.xml
  userdata/anna_heatpump_heating/core.locations.xml
  userdata/anna_heatpump_heating/core.modules.xml
Due: none

Adapt to dirname-change
  tests/test_smile.py
Due: userdata

Extend OpenTherm presence detection
  plugwise/helper.py
Due: userdata, mypy

Correct heater_central test-asserts
  tests/test_smile.py
Due: userdata

Path conditions:
  userdata: any of: \.py$
  mypy: any of: ^plugwise/.+\.py$ and \.py$
