Repository plugwise/python-plugwise: changes, and which pre-commit hooks are due for each by the changed paths.
All: userdata, mypy

userdata:
  name: userdata
  entry: scripts/pre-commit.sh
  language: script
  pass_filenames: false

mypy:
  name: mypy
  entry: scripts/run-in-env.sh mypy
  language: script
  require_serial: true

Simplify
  plugwise/helper.py
Due: userdata, mypy

Improve and simplify filtering
  plugwise/smile.py
Due: userdata, mypy

Improve algo
  plugwise/smile.py
Due: userdata, mypy

Update Changelog
  CHANGELOG.md
Due: none

Add testcase for outdoor_temp in APPLIANCES
  tests/test_smile.py
Due: userdata

Preset smile.cooling_active
  tests/test_smile.py
Due: userdata

Don't re-init cooling_active at every async_update()
  plugwise/helper.py
Due: userdata, mypy

Lower Anna temperature to trigger a cooling_active change
  userdata/anna_heatpump/core.appliances.xml
Due: none

Adam: find active device mode and translate to cooling_active
  plugwise/helper.py
Due: userdata, mypy

Improve comments
  plugwise/smile.py
Due: userdata, mypy

Add more guarding
  plugwise/helper.py
Due: userdata, mypy

Bump to a4
  plugwise/__init__.py
Due: userdata, mypy

Bump to a3
  plugwise/__init__.py
Due: userdata, mypy

Add testcases for cooling_active
  tests/test_smile.py
Due: userdata

Preset cooling_active for anna_heatpump test
  tests/test_smile.py
Due: userdata

Bump to a1
  plugwise/__init__.py
Due: userdata, mypy

Add corresponding testcase
  tests/test_smile.py
Due: userdata

More comment improvements
  plugwise/helper.py
  plugwise/smile.py
Due: userdata, mypy

Revert "Simplify code, remove cooling_present"
  plugwise/helper.py
Due: userdata, mypy

Re-add outdoor_temperature
  plugwise/constants.py
Due: userdata, mypy

Bump to a5
  plugwise/__init__.py
Due: userdata, mypy

Remove double assert
  tests/test_smile.py
Due: userdata

Simplify code, remove cooling_present
  plugwise/helper.py
Due: userdata, mypy

Move "ongoing" info under v0.15.7 release info
  CHANGELOG.md
Due: none

Manual pre-commit update
  .pre-commit-config.yaml
Due: none

Test-pypi again
  .github/workflows/verify.yml
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Better spelling
  CHANGELOG.md
Due: none

Bump to v0.15.7 release-version
  plugwise/__init__.py
Due: userdata, mypy

Refix
  .github/workflows/verify.yml
Due: none

Improve code for legacy_anna
  plugwise/helper.py
Due: userdata, mypy

Update function-name
  plugwise/helper.py
Due: userdata, mypy

Move c_heating-state checking under heater_central
  plugwise/helper.py
  plugwise/smile.py
Due: userdata, mypy

Rename vars
  plugwise/helper.py
Due: userdata, mypy

Correct teststate
  tests/test_smile.py
Due: userdata

Filter for None
  plugwise/helper.py
Due: userdata, mypy

Constants: simplify dicts
  plugwise/constants.py
Due: userdata, mypy

Add more testcases for adam_plus_anna_new
  tests/test_smile.py
Due: userdata

Helper.py: adapt to the changed constants
  plugwise/helper.py
Due: userdata, mypy

Recorrect test values
  tests/test_smile.py
Due: userdata

Path conditions:
  userdata: any of: \.py$
  mypy: any of: ^plugwise/.+\.py$ and \.py$
