Repository plugwise/python-plugwise: changes, and which pre-commit hooks are due for each by the changed paths.
All: userdata, mypy

.pre-commit-config.yaml:

repos:
  # Run manually in CI skipping the branch checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: check-executables-have-shebangs
        stages: [manual]
      - id: no-commit-to-branch
        args:
          - --branch=main
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.30.0
    hooks:
      - id: pyupgrade
        args: [--py37-plus]
  - repo: https://github.com/psf/black
    rev: 21.12b0
    hooks:
      - id: black
        args:
          - --safe
          - --quiet
        files: ^((plugwise|tests)/.+)?[^/]+\.py$
  - repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=hass,alot,datas,dof,dur,farenheit,hist,iff,ines,ist,lightsensor,mut,nd,pres,referer,ser,serie,te,technik,ue,uint,visability,wan,wanna,withing,iam,incomfort
          - --skip="./.*,*.csv,*.json"
          - --quiet-level=2
        exclude_types: [csv, json]
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.2
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-docstrings==1.5.0
          - pydocstyle==5.1.1
        files: ^(plugwise|tests)/.+\.py$
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.1
    hooks:
      - id: bandit
        args:
          - --quiet
          - --format=custom
          - --configfile=tests/bandit.yaml
        files: ^(plugwise|tests)/.+\.py$
  - repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
      - id: isort
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.26.3
    hooks:
      - id: yamllint
  - repo: https://github.com/prettier/prettier
    rev: 2.5.1
    hooks:
      - id: prettier
        stages: [manual]
  - repo: local
    hooks:
      # Run mypy through our wrapper script in order to get the possible
      # pyenv and/or virtualenv activated; it may not have been e.g. if
      # committing from a GUI tool that was not launched from an activated
      # shell.
      - id: userdata
        name: userdata
        entry: scripts/pre-commit.sh
        language: script
        types: [python]
        pass_filenames: false
      - id: mypy
        name: mypy
        entry: scripts/run-in-env.sh mypy
        language: script
        types: [python]
        require_serial: true
        files: ^plugwise/.+\.py$

Update relevant testcases
  tests/test_smile.py
Due: userdata

Better guarding
  tests/test_smile.py
Due: userdata

Update changelog
  CHANGELOG.md
Due: none

Adapt relevant testcases
  tests/test_smile.py
Due: userdata

Don't show cooling_active when no cooling present
  plugwise/smile.py
Due: userdata, mypy

Bump to v0.16.6a0 for testing
  plugwise/__init__.py
Due: userdata, mypy

Don't show cooling-state when no cooling present
  plugwise/smile.py
Due: userdata, mypy

Use same indent/newlines as expected in core
  tests/test_smile.py
Due: userdata

Zigbee 64b addressing
  userdata/README.md
  userdata/adam_heatpump/domain_objects.xml
  userdata/adam_heatpump/modules.xml
  userdata/adam_jip/core.domain_objects.xml
  userdata/adam_jip/core.modules.xml
  userdata/adam_multiple_devices_per_zone/core.domain_objects.xml
  userdata/adam_multiple_devices_per_zone/core.modules.xml
  userdata/adam_plus_anna/core.domain_objects.xml
  userdata/adam_plus_anna/core.modules.xml
  userdata/adam_plus_anna_new/core.domain_objects.xml
  userdata/adam_plus_anna_new/core.modules.xml
  userdata/adam_plus_anna_new_copy_cooling/core.domain_objects.xml
  userdata/adam_plus_anna_new_copy_cooling/core.modules.xml
  userdata/adam_plus_anna_new_copy_dhw_and_cooling/core.domain_objects.xml
  userdata/adam_plus_anna_new_copy_dhw_and_cooling/core.modules.xml
  userdata/adam_plus_anna_new_copy_dhw_and_heating/core.domain_objects.xml
  userdata/adam_plus_anna_new_copy_dhw_and_heating/core.modules.xml
  userdata/adam_zone_per_device/core.domain_objects.xml
  userdata/adam_zone_per_device/core.modules.xml
  userdata/faulty_stretch/core.domain_objects.xml
  userdata/faulty_stretch/core.modules.xml
  userdata/stretch_v23/core.domain_objects.xml
  userdata/stretch_v23/core.modules.xml
  userdata/stretch_v27_no_domain/core.modules.xml
  userdata/stretch_v31/core.domain_objects.xml
  userdata/stretch_v31/core.modules.xml
Due: none

Bump alpha
  plugwise/__init__.py
Due: userdata, mypy

Bump to v0.16.6 release version
  plugwise/__init__.py
Due: userdata, mypy

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Simplify BINARY_SENSORS, SENSORS, SWITCHES lists
  plugwise/constants.py
Due: userdata, mypy

Replace import
  plugwise/smile.py
Due: userdata, mypy

Adapt to changed constants
  plugwise/helper.py
Due: userdata, mypy

Add complete key-item-pair
  plugwise/smile.py
Due: userdata, mypy

Remove unused constants, add comment
  plugwise/constants.py
Due: userdata, mypy

More cleanup
  plugwise/constants.py
Due: userdata, mypy

Reorganize, add comments
  plugwise/constants.py
Due: userdata, mypy

Pre-commit Autoupdate
  .pre-commit-config.yaml
Due: none

Control_state is only present on Adam
  plugwise/helper.py
  plugwise/smile.py
Due: userdata, mypy

Optimize, add walrusses
  plugwise/helper.py
Due: userdata, mypy

Rearrange, add walrusses
  plugwise/smile.py
Due: userdata, mypy

Bump to a1
  plugwise/__init__.py
Due: userdata, mypy

Improve comments
  plugwise/smile.py
Due: userdata, mypy

Change helper-function name
  plugwise/helper.py
  plugwise/smile.py
Due: userdata, mypy

Remove _append_special() and integrate in existing
  plugwise/helper.py
  plugwise/smile.py
Due: userdata, mypy

Combine pw_notification_updater and update_helper
  plugwise/helper.py
  plugwise/smile.py
Due: userdata, mypy

Remove unneeded testcases
  tests/test_smile.py
Due: userdata

Remove double
  plugwise/helper.py
Due: userdata, mypy

Implement walrusses, simplify
  plugwise/helper.py
Due: userdata, mypy

Update assert
  tests/test_smile.py
Due: userdata

Revert removal
  plugwise/smile.py
Due: userdata, mypy

Remove cooling_active from output
  plugwise/smile.py
Due: userdata, mypy

Perform update of binary_sensor plugwise_notification first
  plugwise/helper.py
Due: userdata, mypy

Add some more .get()
  plugwise/smile.py
Due: userdata, mypy

Bump to v0.16.7a0 test-version
  plugwise/__init__.py
Due: userdata, mypy

Improve function
  plugwise/helper.py
Due: userdata, mypy
