Repository plugwise/python-plugwise: changes, and which pre-commit hooks are due for each by the changed paths.
All: userdata, mypy

.pre-commit-config.yaml:

repos:
  # Run manually in CI skipping the branch checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: check-executables-have-shebangs
        stages: [manual]
      - id: no-commit-to-branch
        args:
          - --branch=main
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.30.0
    hooks:
      - id: pyupgrade
        args: [--py37-plus]
  - repo: https://github.com/psf/black
    rev: 21.12b0
    hooks:
      - id: black
        args:
          - --safe
          - --quiet
        files: ^((plugwise|tests)/.+)?[^/]+\.py$
  - repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=hass,alot,datas,dof,dur,farenheit,hist,iff,ines,ist,lightsensor,mut,nd,pres,referer,ser,serie,te,technik,ue,uint,visability,wan,wanna,withing,iam,incomfort
          - --skip="./.*,*.csv,*.json"
          - --quiet-level=2
        exclude_types: [csv, json]
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.2
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-docstrings==1.5.0
          - pydocstyle==5.1.1
        files: ^(plugwise|tests)/.+\.py$
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.1
    hooks:
      - id: bandit
        args:
          - --quiet
          - --format=custom
          - --configfile=tests/bandit.yaml
        files: ^(plugwise|tests)/.+\.py$
  - repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
      - id: isort
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.26.3
    hooks:
      - id: yamllint
  - repo: https://github.com/prettier/prettier
    rev: 2.5.1
    hooks:
      - id: prettier
        stages: [manual]
  - repo: local
    hooks:
      # Run mypy through our wrapper script in order to get the possible
      # pyenv and/or virtualenv activated; it may not have been e.g. if
      # committing from a GUI tool that was not launched from an activated
      # shell.
      - id: userdata
        name: userdata
        entry: scripts/pre-commit.sh
        language: script
        types: [python]
        pass_filenames: false
      - id: mypy
        name: mypy
        entry: scripts/run-in-env.sh mypy
        language: script
        types: [python]
        require_serial: true
        files: ^plugwise/.+\.py$

Improve set_temperature() further
  plugwise/smile.py
Due: userdata, mypy

Also collect lower/upper_bound and resolution
  plugwise/helper.py
Due: userdata, mypy

Set-functions: improve error handling and reporting
  plugwise/smile.py
Due: userdata, mypy

Fix typo
  plugwise/helper.py
  plugwise/smile.py
Due: userdata, mypy

Fix format
  plugwise/helper.py
Due: userdata, mypy

Add lower/upper_bound and resolution to HEATER_CENTRAL_MEAS
  plugwise/constants.py
Due: userdata, mypy

Update various test-asserts
  tests/test_smile.py
Due: userdata

Update one more test-assert
  tests/test_smile.py
Due: userdata

Correct double use
  plugwise/smile.py
Due: userdata, mypy

Also collect lower/upper_bound and resolution for heater_central
  plugwise/helper.py
Due: userdata, mypy

Correct assert
  tests/test_smile.py
Due: userdata

Update Changelog
  CHANGELOG.md
Due: none

Replace pytz by dateutil
  plugwise/helper.py
Due: userdata, mypy

Remove pytz install requires
  setup.py
Due: userdata

Adam_jip userdata: put dhw_setpoint first
  userdata/adam_jip/core.appliances.xml
Due: none

Move dhw_comfort_mode to the middle
  userdata/adam_jip/core.appliances.xml
Due: none

Rearrange heater_central actuator_functionalities
  userdata/adam_jip/core.appliances.xml
Due: none

Improve set_max_boiler_temperature()
  plugwise/smile.py
Due: userdata, mypy

Copy set_max_boiler_temp() from pre_0_18_6
  plugwise/smile.py
Due: userdata, mypy

Bump to v0.18.6 release-version
  plugwise/__init__.py
Due: userdata, mypy

Add pragma: no cover for line 680
  plugwise/smile.py
Due: userdata, mypy

All merging to 0_18_5_release branch
  .github/workflows/merge.yml
Due: none

Add _get_actuator_functionalities() function
  plugwise/helper.py
Due: userdata, mypy

Legacy Anna: change gateway model and name to Smile
  plugwise/helper.py
Due: userdata, mypy

Constants: change friendly_name to Smile
  plugwise/constants.py
Due: userdata, mypy

Change to Smile
  plugwise/helper.py
Due: userdata, mypy

Adapt to plugwise changes
  tests/test_smile.py
Due: userdata

Fix testcoverage
  plugwise/smile.py
Due: userdata, mypy

Bump to v0.18.7a0 test-version
  plugwise/__init__.py
Due: userdata, mypy

Retag to final
  plugwise/__init__.py
Due: userdata, mypy

Create LIMITS constant and use
  plugwise/constants.py
  plugwise/helper.py
Due: userdata, mypy

Add domestic_hot_water_setpoint to output
  plugwise/helper.py
  plugwise/smile.py
Due: userdata, mypy

Test: adapt to set_number_temperature()
  tests/test_smile.py
Due: userdata

Update test-asserts for maximum_boiler_temperature
  tests/test_smile.py
Due: userdata

Start updating test-asserts for thermostat
  tests/test_smile.py
Due: userdata

Add ACTUATOR_CLASSES constant
  plugwise/constants.py
Due: userdata, mypy

Add guarding for calling _get_actuator_functionalities()
  plugwise/helper.py
Due: userdata, mypy
