Repository plugwise/python-plugwise: changes, and which pre-commit hooks are due for each by the changed paths.
All: userdata, mypy

.pre-commit-config.yaml:

repos:
  # Run manually in CI skipping the branch checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: check-executables-have-shebangs
        stages: [manual]
      - id: no-commit-to-branch
        args:
          - --branch=main
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.30.0
    hooks:
      - id: pyupgrade
        args: [--py37-plus]
  - repo: https://github.com/psf/black
    rev: 21.12b0
    hooks:
      - id: black
        args:
          - --safe
          - --quiet
        files: ^((plugwise|tests)/.+)?[^/]+\.py$
  - repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=hass,alot,datas,dof,dur,farenheit,hist,iff,ines,ist,lightsensor,mut,nd,pres,referer,ser,serie,te,technik,ue,uint,visability,wan,wanna,withing,iam,incomfort
          - --skip="./.*,*.csv,*.json"
          - --quiet-level=2
        exclude_types: [csv, json]
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.2
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-docstrings==1.5.0
          - pydocstyle==5.1.1
        files: ^(plugwise|tests)/.+\.py$
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.1
    hooks:
      - id: bandit
        args:
          - --quiet
          - --format=custom
          - --configfile=tests/bandit.yaml
        files: ^(plugwise|tests)/.+\.py$
  - repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
      - id: isort
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.26.3
    hooks:
      - id: yamllint
  - repo: https://github.com/prettier/prettier
    rev: 2.5.1
    hooks:
      - id: prettier
        stages: [manual]
  - repo: local
    hooks:
      # Run mypy through our wrapper script in order to get the possible
      # pyenv and/or virtualenv activated; it may not have been e.g. if
      # committing from a GUI tool that was not launched from an activated
      # shell.
      - id: userdata
        name: userdata
        entry: scripts/pre-commit.sh
        language: script
        types: [python]
        pass_filenames: false
      - id: mypy
        name: mypy
        entry: scripts/run-in-env.sh mypy
        language: script
        types: [python]
        require_serial: true
        files: ^plugwise/.+\.py$

Add local_outdoor_temp to sensorlist
  plugwise/constants.py
Due: userdata, mypy

Rename local_outdoor_temp sensor
  plugwise/constants.py
  tests/test_smile.py
Due: userdata, mypy

One more rename
  plugwise/helper.py
Due: userdata, mypy

Bump to a1
  plugwise/__init__.py
Due: userdata, mypy

Update Changelog
  CHANGELOG.md
Due: none

Bump to v0.16.9 release-version
  plugwise/__init__.py
Due: userdata, mypy

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Change to outdoor_air_temperature
  plugwise/helper.py
Due: userdata, mypy

Constants: outdoor_air_temperature
  plugwise/constants.py
Due: userdata, mypy

Tests: outdoor_air_temperature
  tests/test_smile.py
Due: userdata

Constants.py: add typing hints
  plugwise/constants.py
Due: userdata, mypy

helper.py: add & improve typing hints
  plugwise/helper.py
Due: userdata, mypy

Bump to v0.16.10a0 test-version
  plugwise/__init__.py
Due: userdata, mypy

Constants: add regulation_mode
  plugwise/constants.py
Due: userdata, mypy

Add set_regulation_mode()
  plugwise/smile.py
Due: userdata, mypy

Add self-var for storing allowed modes
  plugwise/helper.py
Due: userdata, mypy

Add regulation_modes to output
  plugwise/smile.py
Due: userdata, mypy

Limit regulation_modes to Adam
  plugwise/smile.py
Due: userdata, mypy

Add related test-asserts
  tests/test_smile.py
Due: userdata

Add test for set_regulation_mode
  tests/test_smile.py
Due: userdata

False is not returned
  tests/test_smile.py
Due: userdata

Tinker unhappy
  tests/test_smile.py
Due: userdata

Add mode allowed check
  plugwise/smile.py
Due: userdata, mypy

Revert assert removal
  tests/test_smile.py
Due: userdata

Improve negative test
  tests/test_smile.py
Due: userdata

Improve guarding
  plugwise/smile.py
Due: userdata, mypy

Init _allowed_modes as []
  plugwise/helper.py
Due: userdata, mypy

Revert guarding
  plugwise/smile.py
Due: userdata, mypy

Adapt assert
  tests/test_smile.py
Due: userdata

Bump to v0.17.0a0 test-version
  plugwise/__init__.py
Due: userdata, mypy

Simplify tinker_regulation_mode, remove unhappy-test
  tests/test_smile.py
Due: userdata

Don't format_measure() certain measurements
  plugwise/helper.py
Due: userdata, mypy

Add testcase for regulation_mode = off
  tests/test_smile.py
Due: userdata

Don't output regulation_mode as sensor
  plugwise/constants.py
Due: userdata, mypy

Adapt relevant test-case
  tests/test_smile.py
Due: userdata

Bump to a2
  plugwise/__init__.py
Due: userdata, mypy

Constants: add maximum_boiler_temperature
  plugwise/constants.py
Due: userdata, mypy

Add 2 related testcases
  tests/test_smile.py
Due: userdata
