Repository plugwise/python-plugwise: changes, and which pre-commit hooks are due for each by the changed paths.
All: userdata, mypy

.pre-commit-config.yaml:

repos:
  # Run manually in CI skipping the branch checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: check-executables-have-shebangs
        stages: [manual]
      - id: no-commit-to-branch
        args:
          - --branch=main
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.30.0
    hooks:
      - id: pyupgrade
        args: [--py37-plus]
  - repo: https://github.com/psf/black
    rev: 21.12b0
    hooks:
      - id: black
        args:
          - --safe
          - --quiet
        files: ^((plugwise|tests)/.+)?[^/]+\.py$
  - repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=hass,alot,datas,dof,dur,farenheit,hist,iff,ines,ist,lightsensor,mut,nd,pres,referer,ser,serie,te,technik,ue,uint,visability,wan,wanna,withing,iam,incomfort
          - --skip="./.*,*.csv,*.json"
          - --quiet-level=2
        exclude_types: [csv, json]
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.2
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-docstrings==1.5.0
          - pydocstyle==5.1.1
        files: ^(plugwise|tests)/.+\.py$
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.1
    hooks:
      - id: bandit
        args:
          - --quiet
          - --format=custom
          - --configfile=tests/bandit.yaml
        files: ^(plugwise|tests)/.+\.py$
  - repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
      - id: isort
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.26.3
    hooks:
      - id: yamllint
  - repo: https://github.com/prettier/prettier
    rev: 2.5.1
    hooks:
      - id: prettier
        stages: [manual]
  - repo: local
    hooks:
      # Run mypy through our wrapper script in order to get the possible
      # pyenv and/or virtualenv activated; it may not have been e.g. if
      # committing from a GUI tool that was not launched from an activated
      # shell.
      - id: userdata
        name: userdata
        entry: scripts/pre-commit.sh
        language: script
        types: [python]
        pass_filenames: false
      - id: mypy
        name: mypy
        entry: scripts/run-in-env.sh mypy
        language: script
        types: [python]
        require_serial: true
        files: ^plugwise/.+\.py$

Bump to a23
  plugwise/__init__.py
Due: userdata, mypy

Revert quote-changes
  plugwise/smile.py
Due: userdata, mypy

Improve code
  plugwise/smile.py
Due: userdata, mypy

Legacy-Stretch: search for network_coordinator
  plugwise/smile.py
Due: userdata, mypy

Use master_controller, points to the network in use
  plugwise/smile.py
Due: userdata, mypy

Simplify search key, don't assign gateway_id
  plugwise/smile.py
Due: userdata, mypy

Line up creating gateways for legacy devices
  plugwise/helper.py
Due: userdata, mypy

Stretches: match gateway_id to previous code-changes
  tests/test_smile.py
Due: userdata

Optimize
  plugwise/helper.py
Due: userdata, mypy

Bump to a24
  plugwise/__init__.py
Due: userdata, mypy

Bump CACHE_VERSION
  .github/workflows/verify.yml
Due: none

Revert
  .github/workflows/verify.yml
Due: none

Include commit checks
  .github/workflows/verify.yml
Due: none

Satisfy pytest-asyncio > 0.17
  pytest.ini
  requirements_test.txt
Due: none

Mimic local install
  .github/workflows/verify.yml
Due: none

Defer install to pycache
  .github/workflows/verify.yml
Due: none

Defer install to pycache - fix pre-commit
  .github/workflows/verify.yml
Due: none

Reset/bump cache and minor version just to ensure the entire flow works
  .github/workflows/verify.yml
  plugwise/__init__.py
Due: userdata, mypy

Add check for presence of domain_objects xml-data
  plugwise/smile.py
Due: userdata, mypy

fixup: anna42_stretch27 Python code reformatted using Black
  plugwise/smile.py
Due: userdata, mypy

Remove unused import
  plugwise/helper.py
Due: userdata, mypy

Define DOMAIN_OBJECTS as global
  plugwise/smile.py
Due: userdata, mypy

Add stretch_v23 userdata without domain_objects
  userdata/stretch_v23_no_do/core.appliances.xml
  userdata/stretch_v23_no_do/core.direct_objects.xml
  userdata/stretch_v23_no_do/core.domain_objects.xml
  userdata/stretch_v23_no_do/core.locations.xml
  userdata/stretch_v23_no_do/core.modules.xml
  userdata/stretch_v23_no_do/system_status_xml.xml
Due: none

Add corresponding testcase
  tests/test_smile.py
Due: userdata

Move stretch_v23_no_do to the end
  tests/test_smile.py
Due: userdata

Load data from direct_objects as well
  tests/test_smile.py
Due: userdata

Real stretch v27 no_domain data added
  tests/test_smile.py
  userdata/stretch_v27_no_domain/core.appliances.xml
  userdata/stretch_v27_no_domain/core.direct_objects.xml
  userdata/stretch_v27_no_domain/core.domain_objects.xml
  userdata/stretch_v27_no_domain/core.locations.xml
  userdata/stretch_v27_no_domain/core.modules.xml
  userdata/stretch_v27_no_domain/system_status_xml.xml
Due: userdata

Stub
  plugwise/smile.py
  scripts/pre-commit.sh
  userdata/stretch_v27_no_domain/core.groups.xml
  userdata/stretch_v27_no_domain/core.rules.xml
  userdata/stretch_v27_no_domain/system.xml
Due: userdata, mypy

Fix mixup between system and system_status (at least for stretch)
  plugwise/smile.py
  tests/test_smile.py
Due: userdata, mypy

working stretch no_domain, fallout in p1
  tests/test_smile.py
Due: userdata

Rework testing to optimal
  CHANGELOG.md
  plugwise/__init__.py
  plugwise/constants.py
  plugwise/smile.py
Due: userdata, mypy

Use correct /system/status without xml extension
  plugwise/constants.py
  tests/test_smile.py
Due: userdata, mypy

Bump version
  plugwise/__init__.py
Due: userdata, mypy

Ready for release: re-bump to v0.16.1
  plugwise/__init__.py
Due: userdata, mypy

Update CHANGELOG
  CHANGELOG.md
Due: none

Add missing release-info
  CHANGELOG.md
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Add work-around for Stretch with fw 2.7.18
  plugwise/smile.py
Due: userdata, mypy

Bring the new usercode in line with existing
  userdata/stretch_v27_no_domain/system.xml
  userdata/stretch_v27_no_domain/system_status_xml.xml
Due: none
