Repository plugwise/python-plugwise: changes, and which pre-commit hooks are due for each by the changed paths.
All: userdata, mypy

.pre-commit-config.yaml:

repos:
  # Run manually in CI skipping the branch checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: check-executables-have-shebangs
        stages: [manual]
      - id: no-commit-to-branch
        args:
          - --branch=main
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.30.0
    hooks:
      - id: pyupgrade
        args: [--py37-plus]
  - repo: https://github.com/psf/black
    rev: 21.12b0
    hooks:
      - id: black
        args:
          - --safe
          - --quiet
        files: ^((plugwise|tests)/.+)?[^/]+\.py$
  - repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=hass,alot,datas,dof,dur,farenheit,hist,iff,ines,ist,lightsensor,mut,nd,pres,referer,ser,serie,te,technik,ue,uint,visability,wan,wanna,withing,iam,incomfort
          - --skip="./.*,*.csv,*.json"
          - --quiet-level=2
        exclude_types: [csv, json]
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.2
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-docstrings==1.5.0
          - pydocstyle==5.1.1
        files: ^(plugwise|tests)/.+\.py$
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.1
    hooks:
      - id: bandit
        args:
          - --quiet
          - --format=custom
          - --configfile=tests/bandit.yaml
        files: ^(plugwise|tests)/.+\.py$
  - repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
      - id: isort
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.26.3
    hooks:
      - id: yamllint
  - repo: https://github.com/prettier/prettier
    rev: 2.5.1
    hooks:
      - id: prettier
        stages: [manual]
  - repo: local
    hooks:
      # Run mypy through our wrapper script in order to get the possible
      # pyenv and/or virtualenv activated; it may not have been e.g. if
      # committing from a GUI tool that was not launched from an activated
      # shell.
      - id: userdata
        name: userdata
        entry: scripts/pre-commit.sh
        language: script
        types: [python]
        pass_filenames: false
      - id: mypy
        name: mypy
        entry: scripts/run-in-env.sh mypy
        language: script
        types: [python]
        require_serial: true
        files: ^plugwise/.+\.py$

Fix unit of measurement for resolution, adapt format_measure()
  plugwise/constants.py
  plugwise/util.py
Due: userdata, mypy

Use .get()
  plugwise/helper.py
Due: userdata, mypy

Add elga_outdoor asserts
  tests/test_smile.py
Due: userdata

Debug 4
  plugwise/smile.py
Due: userdata, mypy

Remove presetting smile.cooling_active, no longer used
  tests/test_smile.py
Due: userdata

Rename userdata, add reference
  userdata/anna_elga_2/@bart1970
  userdata/anna_elga_2/core.appliances.xml
  userdata/anna_elga_2/core.domain_objects.xml
  userdata/anna_elga_2/core.locations.xml
  userdata/anna_elga_2/core.modules.xml
Due: none

Debug 2
  plugwise/helper.py
Due: userdata, mypy

Debug 3
  plugwise/helper.py
Due: userdata, mypy

Better names, remove logging
  plugwise/helper.py
  plugwise/smile.py
Due: userdata, mypy

Try
  tests/test_smile.py
Due: userdata

Update Changelog
  CHANGELOG.md
Due: none

First attempt
  plugwise/helper.py
  plugwise/smile.py
Due: userdata, mypy

Set _cooling_present as well
  plugwise/helper.py
Due: userdata, mypy

Userdata anna elga
  userdata/anna_elga_outdoor_temp/core.appliances.xml
  userdata/anna_elga_outdoor_temp/core.domain_objects.xml
  userdata/anna_elga_outdoor_temp/core.locations.xml
  userdata/anna_elga_outdoor_temp/core.modules.xml
Due: none

Debug 5
  plugwise/smile.py
Due: userdata, mypy

Adapt test_smile.py
  tests/test_smile.py
Due: userdata

Add new testcase with userdata
  tests/test_smile.py
  userdata/anna_heatpump_cooling_to_off/.!16852!core.domain_objects.xml
  userdata/anna_heatpump_cooling_to_off/core.appliances.xml
  userdata/anna_heatpump_cooling_to_off/core.direct_objects.xml
  userdata/anna_heatpump_cooling_to_off/core.domain_objects.xml
  userdata/anna_heatpump_cooling_to_off/core.locations.xml
  userdata/anna_heatpump_cooling_to_off/core.modules.xml
Due: userdata

Debug 6
  plugwise/smile.py
Due: userdata, mypy

Debug more
  plugwise/smile.py
Due: userdata, mypy

Adjust cooling_state to off
  userdata/anna_heatpump_cooling_to_off/core.appliances.xml
Due: none

Rebased, bump to a2
  plugwise/__init__.py
Due: userdata, mypy

Correct self.smile_setup
  tests/test_smile.py
Due: userdata

Extra debug
  plugwise/smile.py
Due: userdata, mypy

Revert preset
  tests/test_smile.py
Due: userdata

Update relevant test-asserts
  tests/test_smile.py
Due: userdata

Implement review-comment
  plugwise/constants.py
  plugwise/util.py
Due: userdata, mypy

Faulty tests, but replay of #158
  tests/test_smile.py
Due: userdata

2 more test changes
  tests/test_smile.py
Due: userdata

Add more info to tests
  tests/test_smile.py
Due: userdata

Bump to v0.16.8 release-version
  plugwise/__init__.py
Due: userdata, mypy

Limit using c_heating_state to Anna-with-Elga case
  plugwise/helper.py
Due: userdata, mypy

Improve comment
  plugwise/helper.py
Due: userdata, mypy

Add testcase for Anna dhw and userdata
  tests/test_smile.py
  userdata/anna_v4_dhw/core.appliances.xml
  userdata/anna_v4_dhw/core.direct_objects.xml
  userdata/anna_v4_dhw/core.domain_objects.xml
  userdata/anna_v4_dhw/core.locations.xml
  userdata/anna_v4_dhw/core.modules.xml
Due: userdata

Bump to v0.16.9a0 test-version
  plugwise/__init__.py
Due: userdata, mypy

Update changelog
  CHANGELOG.md
Due: none

Fix typo
  tests/test_smile.py
Due: userdata

Move heatpump outdoor_temp and rename
  plugwise/constants.py
Due: userdata, mypy

Adapt helper.py
  plugwise/helper.py
Due: userdata, mypy
