Repository plugwise/python-plugwise: changes, and which pre-commit hooks are due for each by the changed paths.
All: userdata, mypy

userdata:
  name: userdata
  entry: scripts/pre-commit.sh
  language: script
  pass_filenames: false

mypy:
  name: mypy
  entry: scripts/run-in-env.sh mypy
  language: script
  require_serial: true

Bump cache again
  .github/workflows/verify.yml
Due: none

Bump requirements
  requirements_test.txt
Due: none

Ignore venv
  .github/workflows/verify.yml
Due: none

Ignore venv also in reformat
  .github/workflows/verify.yml
Due: none

fixup: test Python code reformatted using Black
  plugwise/controller.py
  plugwise/helper.py
  plugwise/nodes/sed.py
Due: userdata, mypy

Bump requirements
  .github/workflows/verify.yml
Due: none

Force black failure
  plugwise/smile.py
Due: userdata, mypy

fixup: test Python code reformatted using Black
  plugwise/smile.py
Due: userdata, mypy

Look for python
  .github/workflows/verify.yml
Due: none

Bump cache version to be sure
  .github/workflows/verify.yml
Due: none

Remove debugging
  .github/workflows/verify.yml
Due: none

Set aiohttp to v3.8.0
  setup.py
Due: userdata

Direct except instead of indirect via pw_exceptions
  tests/test_smile.py
Due: userdata

Changing requirements handling incorporating HA (requires pip > 20.3)
  .travis.yml.disabled
  package_constraints.txt
  requirements_commit.txt
  requirements_test.txt
  scripts/setup.sh
  scripts/setup_test.sh
  tests/INIT.md
Due: none

Revert/forward
  tests/test_smile.py
Due: userdata

Branch test
  plugwise/helper.py
  tests/test_smile.py
Due: userdata, mypy

Remove async_timeout
  plugwise/helper.py
Due: userdata, mypy

Wrap intial .get with try to force _request handling
  plugwise/helper.py
  tests/test_smile.py
Due: userdata, mypy

Remove debugging
  tests/test_smile.py
Due: userdata

Add note, bump cache for final check
  .github/workflows/verify.yml
  plugwise/helper.py
Due: userdata, mypy

Bump
  CHANGELOG.md
  plugwise/__init__.py
Due: userdata, mypy

Elga: also get central_heating_state
  plugwise/constants.py
Due: userdata, mypy

Detect Elga heating state poperly as well
  plugwise/smile.py
Due: userdata, mypy

First check if key is present
  plugwise/smile.py
Due: userdata, mypy

Add Elga tests
  tests/test_smile.py
Due: userdata

Correct code
  plugwise/smile.py
Due: userdata, mypy

Fix ident
  plugwise/smile.py
Due: userdata, mypy

Fix test heatpump testcases
  tests/test_smile.py
Due: userdata

Bump to v0.15.2
  plugwise/__init__.py
Due: userdata, mypy

Improve code, fix var name
  plugwise/smile.py
Due: userdata, mypy

fixup: elga_heating Python code reformatted using Black
  plugwise/smile.py
Due: userdata, mypy

Correct heating_state
  tests/test_smile.py
Due: userdata

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Always write HA Core
  CHANGELOG.md
Due: none

Unprotect _active_device_present and _heater_id
  plugwise/helper.py
  plugwise/smile.py
Due: userdata, mypy

Test: change var name
  tests/test_smile.py
Due: userdata

Bump release version
  plugwise/__init__.py
Due: userdata, mypy

Update CHANGELOG
  CHANGELOG.md
Due: none

Path conditions:
  userdata: any of: \.py$
  mypy: any of: ^plugwise/.+\.py$ and \.py$
