Repository plugwise/python-plugwise: changes, and which pre-commit hooks are due for each by the changed paths.
All: userdata, mypy

.pre-commit-config.yaml:

repos:
  # Run manually in CI skipping the branch checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: check-executables-have-shebangs
        stages: [manual]
      - id: no-commit-to-branch
        args:
          - --branch=main
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.30.0
    hooks:
      - id: pyupgrade
        args: [--py37-plus]
  - repo: https://github.com/psf/black
    rev: 21.12b0
    hooks:
      - id: black
        args:
          - --safe
          - --quiet
        files: ^((plugwise|tests)/.+)?[^/]+\.py$
  - repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=hass,alot,datas,dof,dur,farenheit,hist,iff,ines,ist,lightsensor,mut,nd,pres,referer,ser,serie,te,technik,ue,uint,visability,wan,wanna,withing,iam,incomfort
          - --skip="./.*,*.csv,*.json"
          - --quiet-level=2
        exclude_types: [csv, json]
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.2
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-docstrings==1.5.0
          - pydocstyle==5.1.1
        files: ^(plugwise|tests)/.+\.py$
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.1
    hooks:
      - id: bandit
        args:
          - --quiet
          - --format=custom
          - --configfile=tests/bandit.yaml
        files: ^(plugwise|tests)/.+\.py$
  - repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
      - id: isort
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.26.3
    hooks:
      - id: yamllint
  - repo: https://github.com/prettier/prettier
    rev: 2.5.1
    hooks:
      - id: prettier
        stages: [manual]
  - repo: local
    hooks:
      # Run mypy through our wrapper script in order to get the possible
      # pyenv and/or virtualenv activated; it may not have been e.g. if
      # committing from a GUI tool that was not launched from an activated
      # shell.
      - id: userdata
        name: userdata
        entry: scripts/pre-commit.sh
        language: script
        types: [python]
        pass_filenames: false
      - id: mypy
        name: mypy
        entry: scripts/run-in-env.sh mypy
        language: script
        types: [python]
        require_serial: true
        files: ^plugwise/.+\.py$

Fix related testcase
  tests/test_smile.py
Due: userdata

Bump to a4
  plugwise/__init__.py
Due: userdata, mypy

Bump CACHE_VERSION
  .github/workflows/verify.yml
Due: none

Add cooling_enabled to constants
  plugwise/constants.py
Due: userdata, mypy

Add missing install_requires
  setup.py
Due: userdata

Replace pytz by dateutil
  plugwise/helper.py
Due: userdata, mypy

Remove pytz-related install_requires
  setup.py
Due: userdata

Follow plugwise naming
  plugwise/helper.py
  plugwise/smile.py
  tests/test_smile.py
Due: userdata, mypy

Change to anna_no_cooling_enabled
  plugwise/helper.py
  plugwise/smile.py
Due: userdata, mypy

Bump to a6
  plugwise/__init__.py
Due: userdata, mypy

Improve x_cooling_present and anna_no_cooling_enabled logic
  plugwise/helper.py
  plugwise/smile.py
Due: userdata, mypy

Add guarding for _anna_cooling_present
  plugwise/smile.py
Due: userdata, mypy

Fix typo
  plugwise/smile.py
Due: userdata, mypy

Bump to a7
  plugwise/__init__.py
Due: userdata, mypy

Change anna-cooling-enabled, add anna_cooling_enabled var
  plugwise/helper.py
Due: userdata, mypy

Smile.py: update to changed var-names
  plugwise/smile.py
Due: userdata, mypy

Improve, change to _anna_cooling_derived
  plugwise/helper.py
  plugwise/smile.py
Due: userdata, mypy

Update var-name in test as well
  tests/test_smile.py
Due: userdata

Bump to a8
  plugwise/__init__.py
Due: userdata, mypy

Add created userdata with latest Anna cooling updates
  userdata/anna_heatpump_cooling_fake_firmware/core.appliances.xml
  userdata/anna_heatpump_cooling_fake_firmware/core.direct_objects.xml
  userdata/anna_heatpump_cooling_fake_firmware/core.domain_objects.xml
  userdata/anna_heatpump_cooling_fake_firmware/core.locations.xml
  userdata/anna_heatpump_cooling_fake_firmware/core.modules.xml
Due: none

More userdata updates
  userdata/anna_heatpump_cooling_fake_firmware/core.appliances.xml
Due: none

More anna cooling modulation_level updates
  userdata/anna_elga_2_cooling/core.appliances.xml
  userdata/anna_heatpump_cooling/core.appliances.xml
Due: none

Update cooling_state according to plugwise spec
  plugwise/helper.py
Due: userdata, mypy

Fix modulation_level to 100
  plugwise/helper.py
Due: userdata, mypy

Fix modulation_level assert
  tests/test_smile.py
Due: userdata

Add test-case covering latest Anna cooling firmware
  tests/test_smile.py
Due: userdata

Fix xml
  userdata/anna_heatpump_cooling_fake_firmware/core.domain_objects.xml
Due: none

Bump to a9
  plugwise/__init__.py
Due: userdata, mypy

Update Changelog
  CHANGELOG.md
Due: none

Improve guarding to avoid unintended resetting, add test asserts
  plugwise/helper.py
  tests/test_smile.py
Due: userdata, mypy

Add more test asserts covering all variations
  tests/test_smile.py
Due: userdata

Bump to a10
  plugwise/__init__.py
Due: userdata, mypy

Simplify mode logic
  plugwise/smile.py
Due: userdata, mypy

Bump to v0.19.0 release-version
  plugwise/__init__.py
Due: userdata, mypy

Changelog - fix typo
  CHANGELOG.md
Due: none

Replace ConnectionFailed by ResponseError
  plugwise/smile.py
Due: userdata, mypy

Replace PlugwiseError by ConnectionFailedError
  plugwise/helper.py
Due: userdata, mypy

Bump to v0.19.1a0
  plugwise/__init__.py
Due: userdata, mypy
