Repository plugwise/python-plugwise: changes, and which pre-commit hooks are due for each by the changed paths.
All: userdata, mypy

userdata:
  name: userdata
  entry: scripts/pre-commit.sh
  language: script
  pass_filenames: false

mypy:
  name: mypy
  entry: scripts/run-in-env.sh mypy
  language: script
  require_serial: true

Advance yet another system time
  userdata/anna_without_boiler_fw3/core.domain_objects.xml
Due: none

Add yet more available asserts
  tests/test_smile.py
Due: userdata

More available...
  tests/test_smile.py
Due: userdata

Correct system-time
  userdata/anna_elga_2_schedule_off/core.domain_objects.xml
Due: none

Fix more system-times
  userdata/adam_plus_anna_copy_with_error_domain_added/core.domain_objects.xml
  userdata/anna_elga_2/core.domain_objects.xml
  userdata/anna_elga_2_cooling/core.domain_objects.xml
  userdata/anna_heatpump_heating/core.domain_objects.xml
  userdata/anna_v4/core.domain_objects.xml
  userdata/anna_v4_dhw/core.domain_objects.xml
  userdata/anna_v4_no_tag/core.domain_objects.xml
  userdata/anna_without_boiler_fw42/core.domain_objects.xml
Due: none

Correct availables after system-time updates
  tests/test_smile.py
Due: userdata

Bump to a7
  plugwise/__init__.py
Due: userdata, mypy

Bump CACHE_VERSION
  .github/workflows/verify.yml
Due: none

Update Changelog
  CHANGELOG.md
Due: none

Remove unneeded device_test()s
  tests/test_smile.py
Due: userdata

Remove not-used testcode
  tests/test_smile.py
Due: userdata

Bump to v0.23.0 release-version
  plugwise/__init__.py
Due: userdata, mypy

Add new Loria constants
  plugwise/constants.py
Due: userdata, mypy

Add anna_loria userdata
  userdata/anna_loria/core.appliances.xml
  userdata/anna_loria/core.domain_objects.xml
  userdata/anna_loria/core.locations.xml
  userdata/anna_loria/core.modules.xml
Due: none

Add initial anna_loria_off testcase
  tests/test_smile.py
Due: userdata

Clean up test asserts
  tests/test_smile.py
Due: userdata

Improve
  plugwise/smile.py
Due: userdata, mypy

Don't format_measure() dhw_mode
  plugwise/helper.py
Due: userdata, mypy

Collect and show dhw_modes
  plugwise/helper.py
  plugwise/smile.py
Due: userdata, mypy

Rearrange with comment
  plugwise/constants.py
Due: userdata, mypy

Rework cooling detection for Loria
  plugwise/helper.py
Due: userdata, mypy

Clean up cooling-detection
  plugwise/smile.py
Due: userdata, mypy

Remove created userdata, replaced by anna_loria real userdata
  userdata/anna_loria_idle_fake_firmware/core.appliances.xml
  userdata/anna_loria_idle_fake_firmware/core.direct_objects.xml
  userdata/anna_loria_idle_fake_firmware/core.domain_objects.xml
  userdata/anna_loria_idle_fake_firmware/core.locations.xml
  userdata/anna_loria_idle_fake_firmware/core.modules.xml
Due: none

Remove related testcase
  tests/test_smile.py
Due: userdata

Add cooling_enabled switch
  plugwise/constants.py
Due: userdata, mypy

Don't use separate hvac_mode cool, use always heat_cool
  plugwise/smile.py
Due: userdata, mypy

Simplify _cooling_present
  plugwise/helper.py
  plugwise/smile.py
Due: userdata, mypy

Update relevant test asserts
  tests/test_smile.py
Due: userdata

Update mode to heat_cool
  tests/test_smile.py
Due: userdata

Add anna_loria_off test-asserts
  tests/test_smile.py
Due: userdata

Simplify to _cooling_enabled and _cooling_active
  plugwise/constants.py
  plugwise/helper.py
  plugwise/smile.py
  tests/test_smile.py
Due: userdata, mypy

Correct fix
  plugwise/helper.py
Due: userdata, mypy

Don't pop cooling_enabled
  plugwise/helper.py
Due: userdata, mypy

Add/update loria-userdata
  userdata/anna_loria_cooling_active/core.appliances.xml
  userdata/anna_loria_cooling_active/core.domain_objects.xml
  userdata/anna_loria_cooling_active/core.locations.xml
  userdata/anna_loria_cooling_active/core.modules.xml
  userdata/anna_loria_heating_idle/core.appliances.xml
  userdata/anna_loria_heating_idle/core.domain_objects.xml
  userdata/anna_loria_heating_idle/core.locations.xml
  userdata/anna_loria_heating_idle/core.modules.xml
Due: none

Add initial anna_loria_cooling_actve testcase
  tests/test_smile.py
Due: userdata

Update userdata temps
  userdata/anna_loria_cooling_active/core.appliances.xml
  userdata/anna_loria_cooling_active/core.domain_objects.xml
Due: none

Fix deletion
  userdata/anna_loria_cooling_active/core.domain_objects.xml
Due: none

2nd fix
  userdata/anna_loria_cooling_active/core.domain_objects.xml
Due: none

Add anna_loria_cooling_active test asserts
  tests/test_smile.py
Due: userdata

Bump to v0.24.0a0 test-version
  plugwise/__init__.py
Due: userdata, mypy

Path conditions:
  userdata: any of: \.py$
  mypy: any of: ^plugwise/.+\.py$ and \.py$
