Repository plugwise/python-plugwise: changes, and which pre-commit hooks are due for each by the changed paths.
All: userdata, mypy

.pre-commit-config.yaml:

repos:
  # Run manually in CI skipping the branch checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: check-executables-have-shebangs
        stages: [manual]
      - id: no-commit-to-branch
        args:
          - --branch=main
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.30.0
    hooks:
      - id: pyupgrade
        args: [--py37-plus]
  - repo: https://github.com/psf/black
    rev: 21.12b0
    hooks:
      - id: black
        args:
          - --safe
          - --quiet
        files: ^((plugwise|tests)/.+)?[^/]+\.py$
  - repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=hass,alot,datas,dof,dur,farenheit,hist,iff,ines,ist,lightsensor,mut,nd,pres,referer,ser,serie,te,technik,ue,uint,visability,wan,wanna,withing,iam,incomfort
          - --skip="./.*,*.csv,*.json"
          - --quiet-level=2
        exclude_types: [csv, json]
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.2
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-docstrings==1.5.0
          - pydocstyle==5.1.1
        files: ^(plugwise|tests)/.+\.py$
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.1
    hooks:
      - id: bandit
        args:
          - --quiet
          - --format=custom
          - --configfile=tests/bandit.yaml
        files: ^(plugwise|tests)/.+\.py$
  - repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
      - id: isort
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.26.3
    hooks:
      - id: yamllint
  - repo: https://github.com/prettier/prettier
    rev: 2.5.1
    hooks:
      - id: prettier
        stages: [manual]
  - repo: local
    hooks:
      # Run mypy through our wrapper script in order to get the possible
      # pyenv and/or virtualenv activated; it may not have been e.g. if
      # committing from a GUI tool that was not launched from an activated
      # shell.
      - id: userdata
        name: userdata
        entry: scripts/pre-commit.sh
        language: script
        types: [python]
        pass_filenames: false
      - id: mypy
        name: mypy
        entry: scripts/run-in-env.sh mypy
        language: script
        types: [python]
        require_serial: true
        files: ^plugwise/.+\.py$

Fix to length -1
  plugwise/helper.py
Due: userdata, mypy

Implement freezegun to be able to test on a Sunday
  tests/test_smile.py
Due: userdata

Add fixed time to freezetime
  tests/test_smile.py
Due: userdata

Add modified anna_elga_2_schedule_off userdata
  userdata/anna_elga_2_schedule_off/@bart1970
  userdata/anna_elga_2_schedule_off/core.appliances.xml
  userdata/anna_elga_2_schedule_off/core.domain_objects.xml
  userdata/anna_elga_2_schedule_off/core.locations.xml
  userdata/anna_elga_2_schedule_off/core.modules.xml
Due: none

Add testcase covering anna_cooling with schedule off
  tests/test_smile.py
Due: userdata

Fix schedule_high assert
  tests/test_smile.py
Due: userdata

Test
  plugwise/helper.py
Due: userdata, mypy

Remove previously used debug-lines
  plugwise/helper.py
Due: userdata, mypy

Remove unused path, move count += 1
  plugwise/helper.py
Due: userdata, mypy

Bump to v0.19.0a0 test-version
  plugwise/__init__.py
Due: userdata, mypy

Mypy fixes
  plugwise/helper.py
Due: userdata, mypy

Add mode heat_cool
  plugwise/smile.py
Due: userdata, mypy

Update relevant test asserts
  tests/test_smile.py
Due: userdata

Bump to v0.19.0a1 test-version
  plugwise/__init__.py
Due: userdata, mypy

Modify data set adam_heatpump_cooling
  userdata/adam_heatpump_cooling/appliances.xml
  userdata/adam_heatpump_cooling/domain_objects.xml
  userdata/adam_heatpump_cooling/locations.xml
  userdata/adam_heatpump_cooling/modules.xml
Due: none

Add testcase for Adam cooling
  tests/test_smile.py
Due: userdata

Fix filenames
  userdata/adam_heatpump_cooling/core.appliances.xml
  userdata/adam_heatpump_cooling/core.domain_objects.xml
  userdata/adam_heatpump_cooling/core.locations.xml
  userdata/adam_heatpump_cooling/core.modules.xml
Due: none

Update test asserts
  tests/test_smile.py
Due: userdata

Modify userdata: cooling-state = off, schedule = off
  userdata/adam_heatpump_cooling/core.appliances.xml
  userdata/adam_heatpump_cooling/core.domain_objects.xml
Due: none

Fix asserts
  tests/test_smile.py
Due: userdata

Update changelog
  CHANGELOG.md
Due: none

Clean up, change to debug
  plugwise/helper.py
Due: userdata, mypy

Improve logic, as suggested
  plugwise/smile.py
Due: userdata, mypy

Improve comment, as suggested
  tests/test_smile.py
Due: userdata

Improve logic further
  plugwise/helper.py
Due: userdata, mypy

Clean up
  userdata/anna_heatpump_heating/.!16795!core.domain_objects.xml
Due: none

Correct schedule-processing
  plugwise/helper.py
Due: userdata, mypy

Adapt relevant asserts
  tests/test_smile.py
Due: userdata

Correct assert
  tests/test_smile.py
Due: userdata

Adjust _schedules() logic in line with suggestion
  plugwise/helper.py
Due: userdata, mypy

Add missing schedules
  userdata/anna_heatpump_cooling/core.domain_objects.xml
  userdata/anna_heatpump_cooling_to_off/core.domain_objects.xml
  userdata/anna_heatpump_heating/core.domain_objects.xml
Due: none

Update related asserts
  tests/test_smile.py
Due: userdata

Simplify and improve
  plugwise/helper.py
Due: userdata, mypy

Bump to a2
  plugwise/__init__.py
Due: userdata, mypy

Improve further
  plugwise/helper.py
  plugwise/smile.py
Due: userdata, mypy

Bump to a3
  plugwise/__init__.py
Due: userdata, mypy

Adapt code based on input from Plugwise
  plugwise/helper.py
  plugwise/smile.py
Due: userdata, mypy

Use the new cooling_enabled point_log for Anna with cooling
  plugwise/constants.py
  plugwise/helper.py
Due: userdata, mypy

Improve cooling_active handling
  plugwise/helper.py
  plugwise/smile.py
Due: userdata, mypy

Put the possible None-var last
  plugwise/smile.py
Due: userdata, mypy
