Repository plugwise/python-plugwise: changes, and which pre-commit hooks are due for each by the changed paths.
All: userdata, mypy

.pre-commit-config.yaml:

repos:
  # Run manually in CI skipping the branch checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: check-executables-have-shebangs
        stages: [manual]
      - id: no-commit-to-branch
        args:
          - --branch=main
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.30.0
    hooks:
      - id: pyupgrade
        args: [--py37-plus]
  - repo: https://github.com/psf/black
    rev: 21.12b0
    hooks:
      - id: black
        args:
          - --safe
          - --quiet
        files: ^((plugwise|tests)/.+)?[^/]+\.py$
  - repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=hass,alot,datas,dof,dur,farenheit,hist,iff,ines,ist,lightsensor,mut,nd,pres,referer,ser,serie,te,technik,ue,uint,visability,wan,wanna,withing,iam,incomfort
          - --skip="./.*,*.csv,*.json"
          - --quiet-level=2
        exclude_types: [csv, json]
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.2
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-docstrings==1.5.0
          - pydocstyle==5.1.1
        files: ^(plugwise|tests)/.+\.py$
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.1
    hooks:
      - id: bandit
        args:
          - --quiet
          - --format=custom
          - --configfile=tests/bandit.yaml
        files: ^(plugwise|tests)/.+\.py$
  - repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
      - id: isort
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.26.3
    hooks:
      - id: yamllint
  - repo: https://github.com/prettier/prettier
    rev: 2.5.1
    hooks:
      - id: prettier
        stages: [manual]
  - repo: local
    hooks:
      # Run mypy through our wrapper script in order to get the possible
      # pyenv and/or virtualenv activated; it may not have been e.g. if
      # committing from a GUI tool that was not launched from an activated
      # shell.
      - id: userdata
        name: userdata
        entry: scripts/pre-commit.sh
        language: script
        types: [python]
        pass_filenames: false
      - id: mypy
        name: mypy
        entry: scripts/run-in-env.sh mypy
        language: script
        types: [python]
        require_serial: true
        files: ^plugwise/.+\.py$

Bump to a10
  plugwise/__init__.py
Due: userdata, mypy

Add debug logging
  plugwise/smile.py
Due: userdata, mypy

Bump to a11
  plugwise/__init__.py
Due: userdata, mypy

Move heating_state to the newly introduced OnOff device
  plugwise/smile.py
Due: userdata, mypy

Adapt related testcases
  tests/test_smile.py
Due: userdata

Remove temporary logging
  plugwise/smile.py
Due: userdata, mypy

Bump to a12
  plugwise/__init__.py
Due: userdata, mypy

Make sure cooling_active is always provided via heater-central
  plugwise/helper.py
  plugwise/smile.py
Due: userdata, mypy

Correct the related testasserts
  tests/test_smile.py
Due: userdata

Correct cooling_active detection for Anna
  plugwise/helper.py
  plugwise/smile.py
Due: userdata, mypy

Use the local outdoor temp value for turning cooling on/off
  plugwise/helper.py
  plugwise/smile.py
Due: userdata, mypy

Revert "Lower Anna temperature to trigger a cooling_active change"
  userdata/anna_heatpump/core.appliances.xml
Due: none

Test: remove cooling_active preset
  tests/test_smile.py
Due: userdata

Add pragma: no cover for 2 edge-cases
  plugwise/helper.py
Due: userdata, mypy

Re-enable device_test preset, lower outdoor temp
  tests/test_smile.py
  userdata/anna_heatpump/core.appliances.xml
Due: userdata

Add comment to clarify the use of the preset
  tests/test_smile.py
Due: userdata

Overwrite cooling_active as the last action
  plugwise/smile.py
Due: userdata, mypy

Add guarding
  plugwise/smile.py
Due: userdata, mypy

Better guarding
  plugwise/smile.py
Due: userdata, mypy

Revert delete - Adam - cooling_active
  plugwise/smile.py
Due: userdata, mypy

Update assert value
  tests/test_smile.py
Due: userdata

Fix processing and logging of "drop_at_timeout" requests
  plugwise/controller.py
Due: userdata, mypy

Fix collecting missing production logs
  plugwise/nodes/energy.py
Due: userdata, mypy

Change userdata to trigger a cooling-switch-off
  tests/test_smile.py
  userdata/anna_heatpump_cooling/core.appliances.xml
Due: userdata

Change preset
  tests/test_smile.py
Due: userdata

Change testing order - part 1
  tests/test_smile.py
  userdata/anna_heatpump/core.appliances.xml
Due: userdata

Change testing order - part 2
  tests/test_smile.py
  userdata/anna_heatpump_cooling/core.appliances.xml
Due: userdata

Remove no longer used code, optimize
  plugwise/smile.py
Due: userdata, mypy

Optimize code
  plugwise/smile.py
Due: userdata, mypy

Correct state from "auto" to "on"
  tests/test_smile.py
Due: userdata

Add pragma: no cover
  plugwise/smile.py
Due: userdata, mypy

Test: revert anna_heatpump cooling-active case
  tests/test_smile.py
  userdata/anna_heatpump/core.appliances.xml
Due: userdata

Test: revert anna_heatpump_cooling case
  tests/test_smile.py
  userdata/anna_heatpump_cooling/core.appliances.xml
Due: userdata

Remove input-check
  plugwise/smile.py
Due: userdata, mypy

Bump to a13
  plugwise/__init__.py
Due: userdata, mypy

Simplify schemas_schedule_temp()
  plugwise/helper.py
Due: userdata, mypy

Update function descriptions
  plugwise/helper.py
Due: userdata, mypy

Remove left-over development message
  plugwise/smile.py
Due: userdata, mypy

Update comments
  plugwise/helper.py
Due: userdata, mypy

Anna v42 without working test
  tests/test_smile.py
  userdata/anna_without_boiler_fw42/core.appliances.xml
  userdata/anna_without_boiler_fw42/core.direct_objects.xml
  userdata/anna_without_boiler_fw42/core.domain_objects.xml
  userdata/anna_without_boiler_fw42/core.locations.xml
  userdata/anna_without_boiler_fw42/core.modules.xml
Due: userdata
