Repository plugwise/python-plugwise: changes, and which pre-commit hooks are due for each by the changed paths.
All: userdata, mypy

.pre-commit-config.yaml:

repos:
  # Run manually in CI skipping the branch checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: check-executables-have-shebangs
        stages: [manual]
      - id: no-commit-to-branch
        args:
          - --branch=main
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.30.0
    hooks:
      - id: pyupgrade
        args: [--py37-plus]
  - repo: https://github.com/psf/black
    rev: 21.12b0
    hooks:
      - id: black
        args:
          - --safe
          - --quiet
        files: ^((plugwise|tests)/.+)?[^/]+\.py$
  - repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=hass,alot,datas,dof,dur,farenheit,hist,iff,ines,ist,lightsensor,mut,nd,pres,referer,ser,serie,te,technik,ue,uint,visability,wan,wanna,withing,iam,incomfort
          - --skip="./.*,*.csv,*.json"
          - --quiet-level=2
        exclude_types: [csv, json]
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.2
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-docstrings==1.5.0
          - pydocstyle==5.1.1
        files: ^(plugwise|tests)/.+\.py$
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.1
    hooks:
      - id: bandit
        args:
          - --quiet
          - --format=custom
          - --configfile=tests/bandit.yaml
        files: ^(plugwise|tests)/.+\.py$
  - repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
      - id: isort
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.26.3
    hooks:
      - id: yamllint
  - repo: https://github.com/prettier/prettier
    rev: 2.5.1
    hooks:
      - id: prettier
        stages: [manual]
  - repo: local
    hooks:
      # Run mypy through our wrapper script in order to get the possible
      # pyenv and/or virtualenv activated; it may not have been e.g. if
      # committing from a GUI tool that was not launched from an activated
      # shell.
      - id: userdata
        name: userdata
        entry: scripts/pre-commit.sh
        language: script
        types: [python]
        pass_filenames: false
      - id: mypy
        name: mypy
        entry: scripts/run-in-env.sh mypy
        language: script
        types: [python]
        require_serial: true
        files: ^plugwise/.+\.py$

Bump to v0.18.5a0 test-version
  plugwise/__init__.py
Due: userdata, mypy

Improve OpenTherm/OnOff boiler detection
  plugwise/helper.py
Due: userdata, mypy

Bump to v0.18.5a1 test-version
  plugwise/__init__.py
Due: userdata, mypy

Update Changelog
  CHANGELOG.md
Due: none

Bump to v0.18.5 release-version
  plugwise/__init__.py
Due: userdata, mypy

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Move boiler-type detection into connect()
  plugwise/helper.py
  plugwise/smile.py
Due: userdata, mypy

Improve
  plugwise/smile.py
Due: userdata, mypy

Add back improved _schedules() and schedules_temps() functions
  plugwise/constants.py
  plugwise/helper.py
  plugwise/util.py
Due: userdata, mypy

Improve typing
  plugwise/helper.py
Due: userdata, mypy

Add schedule_temperatures set to output
  plugwise/smile.py
Due: userdata, mypy

Remove single schedule-point check
  plugwise/helper.py
Due: userdata, mypy

Capture empty schedules
  plugwise/helper.py
Due: userdata, mypy

Update impacted test-asserts
  tests/test_smile.py
Due: userdata

Typing fixes
  plugwise/helper.py
Due: userdata, mypy

Move boiler-type detection to get_all_devices()
  plugwise/smile.py
  tests/test_smile.py
Due: userdata, mypy

Fix function name
  tests/test_smile.py
Due: userdata

Add await
  tests/test_smile.py
Due: userdata

Move anna-cooling-capabilty detection to get_all_devices()
  plugwise/helper.py
  plugwise/smile.py
Due: userdata, mypy

Guard for thermostat type
  plugwise/smile.py
Due: userdata, mypy

Fix name asserts
  tests/test_smile.py
Due: userdata

Add anna_cooling_present guarding to _schedules()
  plugwise/helper.py
Due: userdata, mypy

Don't raise PlugwiseError, LOGGER.error instead
  plugwise/helper.py
Due: userdata, mypy

Debug
  plugwise/smile.py
Due: userdata, mypy

More debug
  plugwise/smile.py
Due: userdata, mypy

Let schedules_temps() return a list of temps
  plugwise/helper.py
Due: userdata, mypy

Move debug
  plugwise/smile.py
Due: userdata, mypy

Replace schedule by schedule_low and _high for anna with cooling
  plugwise/smile.py
Due: userdata, mypy

Correct schedule -> setpoint
  plugwise/smile.py
Due: userdata, mypy

Handle an empty schedule
  plugwise/smile.py
Due: userdata, mypy

Add setpoint_high/_low to constants
  plugwise/constants.py
Due: userdata, mypy

Extend relevant test asserts
  tests/test_smile.py
Due: userdata

Remove None-return, not needed
  plugwise/helper.py
Due: userdata, mypy

Set to 0/40 when the schedule is not active
  plugwise/helper.py
Due: userdata, mypy

Also handle schedule off
  plugwise/smile.py
Due: userdata, mypy

Update relevant test assert
  tests/test_smile.py
Due: userdata

Remove test debugging
  plugwise/smile.py
Due: userdata, mypy

Clean up
  plugwise/helper.py
Due: userdata, mypy

debug
  plugwise/helper.py
Due: userdata, mypy

More debug
  plugwise/helper.py
Due: userdata, mypy
