Repository plugwise/python-plugwise: changes, and which pre-commit hooks are due for each by the changed paths.
All: userdata, mypy

.pre-commit-config.yaml:

repos:
  # Run manually in CI skipping the branch checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: check-executables-have-shebangs
        stages: [manual]
      - id: no-commit-to-branch
        args:
          - --branch=main
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.30.0
    hooks:
      - id: pyupgrade
        args: [--py37-plus]
  - repo: https://github.com/psf/black
    rev: 21.12b0
    hooks:
      - id: black
        args:
          - --safe
          - --quiet
        files: ^((plugwise|tests)/.+)?[^/]+\.py$
  - repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=hass,alot,datas,dof,dur,farenheit,hist,iff,ines,ist,lightsensor,mut,nd,pres,referer,ser,serie,te,technik,ue,uint,visability,wan,wanna,withing,iam,incomfort
          - --skip="./.*,*.csv,*.json"
          - --quiet-level=2
        exclude_types: [csv, json]
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.2
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-docstrings==1.5.0
          - pydocstyle==5.1.1
        files: ^(plugwise|tests)/.+\.py$
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.1
    hooks:
      - id: bandit
        args:
          - --quiet
          - --format=custom
          - --configfile=tests/bandit.yaml
        files: ^(plugwise|tests)/.+\.py$
  - repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
      - id: isort
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.26.3
    hooks:
      - id: yamllint
  - repo: https://github.com/prettier/prettier
    rev: 2.5.1
    hooks:
      - id: prettier
        stages: [manual]
  - repo: local
    hooks:
      # Run mypy through our wrapper script in order to get the possible
      # pyenv and/or virtualenv activated; it may not have been e.g. if
      # committing from a GUI tool that was not launched from an activated
      # shell.
      - id: userdata
        name: userdata
        entry: scripts/pre-commit.sh
        language: script
        types: [python]
        pass_filenames: false
      - id: mypy
        name: mypy
        entry: scripts/run-in-env.sh mypy
        language: script
        types: [python]
        require_serial: true
        files: ^plugwise/.+\.py$

Change names for non-legacy P1 too
  plugwise/constants.py
Due: userdata, mypy

Change to ThermoTouch in constants too
  plugwise/constants.py
Due: userdata, mypy

Adapt test asserts
  tests/test_smile.py
Due: userdata

Try 4
  plugwise/helper.py
Due: userdata, mypy

Update device_item asserts
  tests/test_smile.py
Due: userdata

Change smile_model to Gateway, improve
  plugwise/helper.py
  plugwise/smile.py
Due: userdata, mypy

Update related test asserts
  tests/test_smile.py
Due: userdata

Change Plugwise B.V. to Plugwise
  tests/test_smile.py
Due: userdata

Debug
  plugwise/helper.py
Due: userdata, mypy

Bump to a15
  plugwise/__init__.py
Due: userdata, mypy

Correct switching of device_id's for Smile P1
  plugwise/helper.py
Due: userdata, mypy

Replace single for-loop
  plugwise/helper.py
Due: userdata, mypy

Try 12
  plugwise/helper.py
Due: userdata, mypy

Remove unneeded check
  plugwise/helper.py
Due: userdata, mypy

Try 6
  plugwise/helper.py
Due: userdata, mypy

Correct assert
  tests/test_smile.py
Due: userdata

Replace another for-loop
  plugwise/helper.py
Due: userdata, mypy

Change gateway_id for non-legacy P1
  plugwise/helper.py
Due: userdata, mypy

Bump to a11
  plugwise/__init__.py
Due: userdata, mypy

Bump to a8 test-version
  plugwise/__init__.py
Due: userdata, mypy

Try 10
  plugwise/helper.py
Due: userdata, mypy

Try 2
  plugwise/helper.py
Due: userdata, mypy

Refresh Changelog
  CHANGELOG.md
Due: none

Bump to v0.22.0 release-version
  plugwise/__init__.py
Due: userdata, mypy

Include PR's #211 and #214 in Changelog
  CHANGELOG.md
Due: none

Fix version-typo
  plugwise/__init__.py
Due: userdata, mypy

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Improve schedule_old_states collecting self-var
  plugwise/helper.py
Due: userdata, mypy

Collect and set schedule_old_states per loc_id
  plugwise/smile.py
Due: userdata, mypy

Update relevant testcases
  tests/test_smile.py
Due: userdata

Bump to v0.22.1b0 test-version
  plugwise/__init__.py
Due: userdata, mypy

Update Changelog
  CHANGELOG.md
Due: none

Revert unhappy = True changes, execute device_test()...
  tests/test_smile.py
Due: userdata

Small improvements
  plugwise/smile.py
Due: userdata, mypy

Reorder code
  plugwise/smile.py
Due: userdata, mypy

Test: cover smile.py line 533
  tests/test_smile.py
Due: userdata

Bump to b1
  plugwise/__init__.py
Due: userdata, mypy

Bump to v0.22.1 release-version
  plugwise/__init__.py
Due: userdata, mypy

Bump CACHE_VERSION
  .github/workflows/verify.yml
Due: none
